<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	  xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head> 
<meta charset="utf-8"> 
<title>메뉴 :: 브랜드명 서비스</title> 
	<!-- css -->
<link rel="stylesheet" type="text/css" th:href="@{/css/font.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/reset.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/menu.css}" />
	
	
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />
	
	
<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
	
</head> 
<body> 
<!-- #wrap --> 
<div id="wrap"> 
	
	<!-- .snb -->
	<div class="snb">	
		<h1><a target="_self" href="#none">maum.ai Admin</a></h1>
		<ul class="nav">
			<li><a href="#"><em class="fas fa-chart-line"></em><span>DASHBOARD</span></a>                	
			</li>
			<li class="active"><a href="#"><em class="fas fa-user-friends"></em><span>회원관리</span></a>
				<ul class="sub_nav">
					<li class="active"><a href="index.html">유료 회원</a></li>
					<li><a href="1.html">API 발급 회원</a></li>	
					<li><a href="2.html">해지 회원</a></li>
					<li><a href="3.html">전체 회원</a></li>
				</ul>
			</li>
			<li><a href="#"><em class="far fa-credit-card"></em><span>결제내역</span></a>
				<ul class="sub_nav">
					<li><a href="1.html">1</a></li>
					<li><a href="2.html">2</a></li>
					<li><a href="3.html">3</a></li>
				</ul>
			</li>
			<li><a href="#"><em class="fas fa-users-cog"></em><span>권한관리</span></a>
				<ul class="sub_nav">
					<li><a href="1.html">1</a></li>
					<li><a href="2.html">2</a></li>
					<li><a href="3.html">3</a></li>
				</ul>
			</li>
		</ul>
	</div>
	<!-- //.snb --> 		
	
	<!-- #header --> 
	<div id="header"> 				  
		<!-- .etcmenu -->
		<div class="etcmenu">           
			<div class="userBox">
				<dl>
					<dt class="ico_user"><em class="far fa-user"></em></dt>
					<dd>
						<a target="_self" href="#none">admin@console.com<em class="fas fa-chevron-down"></em></a>
					</dd>
					<ul class="lst">
						<li class="ico_profile"><a class="lyr_profile" href="#none">프로필</a></li>
						<li class="ico_logout"><a target="_self" th:href="@{/logout}">로그아웃</a></li>
					</ul>
				</dl>
			</div>
		</div>
		<!-- //.etcmenu -->
	</div> 
	<!-- //#header --> 
	
	<!-- //#container --> 
	<div id="container"> 	
		
		<!-- content --> 
		<div id="content"> 

		</div> 
		<!-- //#content -->
		
	</div> 
	<!-- //#container --> 
	
	 <!-- #footer -->
	<div id="footer">
		<div class="cyrt"><span>&copy; MINDsLab. All rights reserved.</span></div>
	</div>
	<!-- //#footer -->
	
</div> 
<!-- //#wrap --> 
	
<script>
jQuery.event.add(window,"load",function(){
	$(document).ready(function (){
			
			// header user
			$('#header .etcmenu .userBox dl dd > a').on('click',function(){
				$(this).parent().parent().addClass('active');
			});
			$('#header .etcmenu .userBox').on('mouseleave',function(){
				$('#header .etcmenu .userBox dl').removeClass('active');
			});


			// snb
			$('.snb ul.nav li a').on('click',function(){
				$('.snb ul.nav li').removeClass('active');

				$(this).parents('li').addClass('active');
			});
			$('.snb ul.sub_nav > li > a').on('click',function(){
				$('.snb ul.sub_nav li').removeClass('active');

				$(this).parent('li').addClass('active');
				$(this).parents('li').parents('ul.sub_nav ').parents('li').addClass('active');
			});
			
			
	});
});	
</script>	
</body> 
</html>
