<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	  xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/mainLayout">
<head>
</head>
<body>
<!-- .page loading -->
<div id="page_ldWrap" class="page_loading" layout:fragment="page_loading">
	<div class="loading_itemBox">
		<span></span>
		<span></span>
		<span></span>
		<span></span>
	</div>
</div>
<!-- //.page loading -->
<!-- //#container -->
<div id="container" layout:fragment="container">
	<!-- #contents -->
	<div id="contents">
		<!-- .content -->
		<div class="content">
			<!-- .section -->
			<div class="stn contBoxType">
				<div class="tbl_top_info">
					<!-- 자동 모니터링 결과 -->
					<div class="total_wrap">
						<ul>
							<li>
								<span>Business</span>
								<!--/*@thymesVar id="business" type="java.lang.Integer"*/-->
								<a class="counter" value="dash_business" th:text="${business}"></a>
							</li>
							<li>
								<span>외부고객</span>
								<!--/*@thymesVar id="outterCust" type="java.lang.Integer"*/-->
								<a class="counter outsider" value="dash_outsider" th:text="${outterCust}"></a>
							</li>
							<li>
								<span>내부직원</span>
								<!--/*@thymesVar id="innerCust" type="java.lang.Integer"*/-->
								<a class="counter insider" value="dash_insider" th:text="${innerCust}"></a>
							</li>
							<li>
								<span>예외</span>
								<!--/*@thymesVar id="etc" type="java.lang.Integer"*/-->
								<a class="counter exception" th:text="${etc}"></a>
							</li>
						</ul>
					</div>
					<!-- //자동 모니터링 결과 -->


					<div  class="total_wrap">

						<div class="count_box">
							<h5>오늘 결제 건수 : <span>2 </span></h5>
							<p>198,000<small>(원)</small></p>
						</div>
						<div class="count_box">
							<h5>월 누적 매출액 : <span>161 </span></h5>
							<p>15,968,000<small>(원)</small></p>
						</div>
						<div class="count_box">
							<h5>누적 매출액 : <span>439 </span></h5>
							<p>45,780,000<small>(원)</small></p>
						</div>
					</div>
				</div>
				<div class="stn_cont">
					<p class="tbl_tit">오늘 <span>(11/22)</span> 결제 내역 <span class="right_txt">11/22 12:00기준</span></p>
					<div class="tbl_box dash_tbl">
						<table class="tbl_line_lst" summary="번호/제목/내용/URL/작성일/비고로 구성됨">
							<caption class="hide">테이블 제목</caption>
							<colgroup>
								<col style="width:30px;"><col style="width:50px;"><col style="width:150px;"><col style="width:105px;"><col style="width:80px;">
								<col style="width:80px;"><col style="width:80px;"><col style="width:80px;"><col style="width:50px;"><col style="width:80px;">
								<col style="width:80px;"><col style="width:80px;"><col style="width:50px;">
								<!-- cell 개수 만큼 <col> 개수를 넣어야 함 -->
							</colgroup>
							<thead>
							<tr>
								<th scope="col">No.</th>
								<th scope="col">Name</th>
								<th scope="col">Email</th>
								<th scope="col">Phone</th>
								<th scope="col">Company</th>
								<th scope="col">Payment</th>
								<th scope="col">상품명</th>
								<th scope="col">결제금액</th>
								<th scope="col">통화구분</th>
								<th scope="col">승인날짜</th>
								<th scope="col">취소일자</th>
								<th scope="col">거래상태</th>
								<th scope="col">회차</th>
							</tr>
							</thead>
							<tbody id = "todayPayList">
							</tbody>
						</table>
					</div>
				</div>
				<div class="stn_cont">
					<p class="tbl_tit">최근 15일 사용자 수 <span class="right_txt">11/22 12:00기준</span></p>
					<div class="tbl_box dash_tbl">
						<table class="tbl_line_lst" summary="번호/제목/내용/URL/작성일/비고로 구성됨" id="MAUList">
						</table>
					</div>
				</div>


			</div>
			<!-- //.section -->
		</div>
		<!-- //.content -->
	</div>
	<!-- //.contents -->
</div>
<!-- //#container -->
<!-- script -->
<script type="text/javascript" layout:fragment="custom-script">
	jQuery.event.add(window,"load",function(){
		$(document).ready(function (){

			//대쉬보드 카운트
			// $('.counter').counterUp({
			// 	delay: 10,
			// 	time: 500
			// });
			//////////// 수치가 function 내부에서 변경되는 문제가 있어서 주석처리


		});
		getTodayPayList();
		getMAUCount();
		salseMoney();

		var date = new Date();
		date = (date.getMonth()+1)+"/"+(date.getDate())+" "+date.getHours()+":"+date.getMinutes();
		setCurrentDate(date);
	});

	$('.counter').click(function () {
		var search_category = $(this).context.attributes[1].textContent;

		window.location.href ='/user/userManagement?category='+search_category;

		//console.log(search_category);
		//alert(search_category);
		//selectUser(search_category);
	});

	function selectUser(search_category){
		$.ajax({
			url : "/pay/searchUser",
			dataType : "JSON",
			data : {category:search_category},
			cache : false,
			async : true,
			type : "GET",
		})
	}

	function setCurrentDate(currentdate){
		//console.log(currentdate);
		var tbl_tit = document.getElementsByClassName('tbl_tit');
		tbl_tit[0].innerHTML = "오늘" +  currentdate.split(" ")[0] +"결제 내역 <span class=\"right_txt\">"+currentdate+"기준</span>"
		tbl_tit[1].innerHTML = "최근 15일 사용자 수 <span class=\"right_txt\">" + currentdate + "기준</span>";
	}

	function getTodayPayList(){
		$.ajax({
			url : "/pay/todayPayList",
			dataType : "JSON",
			cache : false,
			async : true,
			type : "GET",
			success : function (obj) {
				$("#todayPayList").html($("#todayListTemplate").render(obj));
			},
			error : function(xhr, status, error){}
		});
	}

	function getMAUCount(){
		$.ajax({
			url : "/pay/MAUCount",
			cache : false,
			async : true,
			type : "GET",
			success : function (obj) {
				var list = {"data" : obj.data.reverse()}
				$("#MAUList").html($("#listTemplate2").render(list));

				$('#MAUList .today_mau').text("[[${business}]]"); // MAU count 실시간 반영

				// MAU count 증감 실시간 반영
				let tmp_updown = parseInt($('#MAUList tr:first-child td:nth-child(3)').text()) - parseInt($('#MAUList .today_mau').text());
				if(tmp_updown < 0){
					$('#MAUList .today_updown').html('<em class="fas fa-sort-up"></em> <strong>'+ (tmp_updown * -1) +'</strong>');
				}else if(tmp_updown > 0){
					$('#MAUList .today_updown').html('<em class="fas fa-sort-down"></em> <strong>'+ tmp_updown +'</strong>');
				}else{
					$('#MAUList .today_updown').html('-');
				}

			}
		})
	}

	function salseMoney(){
		$.ajax({
			url : "/pay/sales",
			dataType : "JSON",
			cache : false,
			async : true,
			type : "GET",
			success : function (obj){
				var count = document.getElementsByClassName('count_box');

				console.log(obj);

				for(var i=0; i<count.length;i++){
					count[i].children[0].children[0].innerHTML = obj[i];
					count[i].children[1].innerHTML = (obj[i]*99000).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
							+'(원)';

					console.log(count[i]);
				}
			}
		})
	}

	function showDetail(failReason){
		alert('실패사유 : '+failReason);
	}

</script>

<script id="todayListTemplate" type="text/x-jsrender" layout:fragment="custom-listTemplate">

	{{for}}
        <tr>
            <td>{{>num}}</td>
			<td>{{>name}}</td>
			<td>{{>email}}</td>
			<td>{{>phone}}</td>
			<td>{{>company}}</td>
			<td>{{>payment}}</td>
			{{if product == 3}}
				<td>Business</td>
			{{else product == 2}}
				<td>Basic</td>
			{{else}}
				<td></td>
			{{/if}}
			<td>{{>price}}</td>
			{{if price == 99000}}
				<td>KRW</td>
			{{else price == 89}}
				<td>USD</td>
			{{else}}
				<td></td>
			{{/if}}
			<td>{{>payDate}}</td>
			<td></td>
			{{if status == '실패'}}
				<td><a class="link" onclick="javascript:showDetail('{{>failReason}}')">실패</a></td>
			{{else}}
				<td>{{>status}}</td>
			{{/if}}
			<td>{{>payCount}}</td>
    	</tr>
	{{/for}}
</script>

<script id="listTemplate2" type="text/x-jsrender" layout:fragment="custom-listTemplate2">
	<caption class="hide">테이블 제목</caption>
		<colgroup>
			<col style="width:50px;"><col><col><col><col>
				<col><col><col><col><col>
					<col><col><col><col>
		</colgroup>
		<thead>
		    <tr>
				<th scope="col"></th>
				<th scope="col">Today</th>
				{{for data}}
					<th scope="col">{{>day}}</th>
				{{/for}}
			</tr>
		</thead>
		<tbody id="MAUList">
			<tr>
				<td class="tit">MAU</td>
				<td class="today_mau"></td>
				{{for data}}
					<td>{{>mau}}</td>
				{{/for}}
			</tr>
			<tr>
				<td class="tit">증감</td>
				<td class="today_updown"></td>
				{{for data}}
					{{if updown == -1}}
						<td><em class="fas fa-sort-down"></em> <strong> {{>dif}}</strong></td>
					{{else updown == 1}}
						<td><em class="fas fa-sort-up"></em> <strong> {{>dif}}</strong></td>
					{{else}}
						<td>-</td>
					{{/if}}

				{{/for}}
			</tr>
		</tbody>
</script>
</body>
</html>
