<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="format-detection" content="telephone=no">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
        <!-- Cache reset -->
        <meta http-equiv="Expires" content="Mon, 06 Jan 2016 00:00:01 GMT">
        <meta http-equiv="Expires" content="-1">
        <meta http-equiv="Pragma" content="no-cache">
        <meta http-equiv="Cache-Control" content="no-cache">
        <!-- icon_favicon -->
        <link rel="shortcut icon" type="image/x-icon" th:href="@{/images/ico_favicon_60x60.png}"><!-- 윈도우즈 사이트 아이콘, HiDPI/Retina 에서 Safari 나중에 읽기 사이드바 -->
        <!-- css -->
        <link rel="stylesheet" type="text/css" th:href="@{/css/font.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/css/reset.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/css/menu.css}" />
        <link rel="stylesheet" type="text/css" th:href="@{/css/pop_common.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/css/maum_admin.css(${#dates.createToday()})}">
        <link rel="stylesheet" type="text/css" th:href="@{/css/datepicker.css}">
        <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css}" />


        <title>ADMIN</title>
    </head>

    <body>
        <script>
            /*<![CDATA[*/
            var accessUser = '[[${session.accessUser}]]';
            /*]]>*/
            if(accessUser == null){
                window.location.href = "/logout";
            }
        </script>

        <form id="userProfileForm" name="userProfileForm">
            <input type="hidden" id="UserId" name="UserId" th:value="${session.accessUser.userId}" />
            <input type="hidden" id="Password" name="Password" value="" />
            <input type="hidden" id="createYN" name="createYN" value="" />
            <input type="hidden" id="updateYN" name="updateYN" value="" />
            <input type="hidden" id="deleteYN" name="deleteYN" value="" />
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        </form>

        <!-- .page loading -->

        <div layout:fragment="page_loading">
        </div>
        <!-- //.page loading -->

        <!-- userForm (pop-up) -->
        <div layout:fragment="popUserForm">
        </div>

        <!-- 1 .pop_simple -->
        <div layout:fragment="pop_status">
        </div>
        <!-- 2 .pop_simple -->
        <div layout:fragment="pop_period">
        </div>
        <!-- 3 .pop_simple -->
        <div layout:fragment="pop_nextpay">
        </div>
        <!-- 4 .pop_simple -->
        <div layout:fragment="pop_payment">
        </div>
        <!-- 5 .pop_simple -->
        <div layout:fragment="pop_apistatus">
        </div>
        <!-- 6 .pop_simple -->
        <div layout:fragment="pop_marketing">
        </div>

        <!-- 결제취소 팝업 -->
        <div layout:fragment="pop_cancle">
        </div>



        <!-- #wrap -->
        <div id="wrap">
            <!-- .snb -->
            <div class="snb">
                <h1><a target="_self" href="/home">maum.ai Admin</a></h1>
                <ul class="nav" id="leftMenuList">
                </ul>
            </div>
            <!-- //.snb -->
            <!-- .potalWrap -->
            <div class="potalWrap">
                <!-- #header -->
                <div id="header">
                    <div class="path">
                        <ul class="path_nav">
                            <li><a class="home" href="#none">Home</a></li>
                            <li><a href="#none"><span th:text="${session.menuName}">menuName</span></a></li>
                            <li><span><span th:text="${session.subMenuName}">subMenuName</span></span></li>
                        </ul>
                    </div>
                    <!-- .etcmenu -->
                    <div class="etcmenu">
                        <div class="userBox">
                            <dl>
                                <dt class="ico_user"><em class="far fa-user"></em></dt>
                                <dd>
                                    <a target="_self" href="#none"><span th:text="${session.accessUser.userId}">loginid</span><em class="fas fa-chevron-down"></em></a>
                                </dd>
                                <ul class="lst">
                                    <li><a class="ico_profile btn_lyr_open" href="#none">프로필</a></li>
                                    <li class="ico_logout"><a target="_self" th:href="@{/logout}">로그아웃</a></li>
                                </ul>
                            </dl>
                        </div>
                    </div>
                    <!-- //.etcmenu -->
                </div>
                <!-- //#header -->

                <!-- #container -->
                <div id="container" layout:fragment="container" >
                </div>
                <!-- //#container -->

                <!-- #footer -->
                <div id="footer">
                    <div class="cyrt"><span>&copy; MINDsLab. All rights reserved.</span></div>
                </div>
                <!-- //#footer -->
            </div>
        </div>
        <!-- //#wrap -->

        <!-- lyrWrap -->
        <div class="lyrWrap">
            <div class="lyr_bg"></div>
            <!-- 사용자 공통 프로필 -->
            <div class="lyrBox lyr_profile">
                <div class="lyr_top">
                    <h3>프로필</h3>
                    <button class="btn_lyr_close">닫기</button>
                </div>
                <div class="lyr_mid">
                    <dl class="dlBox">
                        <dt>아이디</dt>
                        <dd>
                            <div class="iptBox">
                                <input type="text" class="ipt_txt" th:value="${session.accessUser.userId}" disabled>
                            </div>
                        </dd>
                    </dl>
                    <dl class="dlBox">
                        <dt>이름</dt>
                        <dd>
                            <div class="iptBox">
                                <input type="text" class="ipt_txt" th:value="${session.accessUser.userNm}" disabled>
                            </div>
                        </dd>
                    </dl>
                    <dl class="dlBox">
                        <dt>비밀번호</dt>
                        <dd>
                            <div class="iptBox" style="margin-bottom:7px;">
                                <input type="password" id="password1" class="ipt_txt" placeholder="비밀번호" maxlength="20" autocomplete="new-password">
                                <!-- [D] 에러메세지 -->
                                <p class="error_msg" id="pw_check_msg" style="display:none">패스워드 생성규칙이 올바르지 않습니다. 8~20자 이내, 대소문자 숫자 포함</p>
                            </div>
                            <div class="iptBox">
                                <input type="password" id="password2"  class="ipt_txt" placeholder="비밀번호 확인" maxlength="20" autocomplete="new-password">
                                <!-- [D] 에러메세지 -->
                                <p class="error_msg" id="pw_not_match_msg" style="display:none">패스워드가 일치하지 않습니다.</p>
                            </div>
                        </dd>
                    </dl>
                </div>
                <div class="lyr_btm">
                    <div class="btnBox sz_small">
                        <button class="" th:onclick="'javascript:updateAdminUserPwd();'" >확인</button>
                    </div>
                </div>
            </div>
            <!-- //사용자 공통 프로필 -->
            <!-- 등록1 -->
            <div layout:fragment="lyr_add">
            </div>
            <!-- //등록1 -->
            <!-- 등록2 -->
            <div layout:fragment="lyr_addsub">
            </div>
            <!-- //등록2 -->
        </div>
        <!-- //lyrWrap(사용자 프로필) -->

        <!-- 프로필 비밀번호 변경 script -->
        <script type="text/javascript">
            /** User - 수정  */
            function updateAdminUserPwd(){

                var password1 = $("#password1").val();
                var password2 = $("#password2").val();

                if(password1 != null && password1 != ''){
                    if(!pwd_check(password1)){
                        $('#pw_check_msg').show();
                        $('#pw_not_match_msg').hide();
                        return;
                    }else{
                        $('#pw_check_msg').hide();
                    }
                }

                if(password1 == '' && password2 == ''){
                    $('.lyrWrap').hide();
                    $('.lyrBox').hide();
                    return;
                }

                if(password1 != password2){
                    // alert("비밀번호가 일치하지 않습니다.");
                    $('#pw_not_match_msg').show();
                    $("#password1").focus();
                    return;
                }else{
                    $('#pw_not_match_msg').hide();
                    $("#Password").val(password1);
                }

                // if($("#memberPw").val() == 'same'){
                //     alert("이전에 사용하시던 비밀번호와 동일합니다. 비밀번호는 변경이 필요하신 경우에만 입력해 주세요.");
                //     $("#password1").val('');
                //     $("#password2").val('');
                //     return;
                // }

                var yn = confirm("비밀번호 수정하시겠습니까?");
                if(yn){

                    $.ajax({
                        type 		: 'post',
                        url  		: '/admin/updateAdminUserPwd',
                        data    : $("#userProfileForm").serialize(),
                        dataType: "JSON",
                        cache   : false,
                        async   : true,
                        type		: "POST",
                        success : function(obj) {
                            console.log('success pwd');
                            updateUserPwdCallback(obj);
                        },
                        error 	: function(xhr, status, error) {}
                    });
                }
            }

            function updateUserPwdCallback(obj){

                if(obj != null){

                    var result = obj.result;

                    if(result == "SUCCESS"){
                        alert("수정 성공하였습니다.");
                        $('.lyrWrap').hide();
                        $('.lyrBox').hide();
                    } else {
                        alert("수정 실패하였습니다.");
                        return;
                    }
                }
            }

            function pwd_check(userPassword){

                if(userPassword.length < 8) {
                    //alert("비밀번호는 대문자+숫자+특수문자를 조합하여 8자이상 입력해 주셔야 합니다.");
                    return;
                }

                if(!userPassword.match(/(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$/)) {
                    //alert("비밀번호는 대문자+숫자+특수문자를 조합하여 8자이상 입력해 주셔야 합니다.");
                    return;
                }
                return true;
            }
        </script>


        <!-- 공통 script -->
        <script type="text/javascript" th:src="@{/js/jquery-1.11.2.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/all.js}"></script>
        <script type="text/javascript" th:src="@{/js/common.js(${#dates.createToday()})}"></script>
        <script type="text/javascript" th:src="@{/js/jsrender.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/bootstrap-datepicker.js}"></script>
        <script type="text/javascript" th:src="@{/js/waypoints.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/jquery.counterup.min.js}"></script>

        <!-- 공통  $(window).load(function() -->
        <script type="text/javascript" layout:fragment="custom-winload">
            console.log('mainLayout custom-winload');
        </script>
        <!-- 공통 script -->
        <script type="text/javascript" layout:fragment="custom-script">
            console.log('mainLayout custom-script');
        </script>
        <!-- 공통 jsrender listTemplate -->
        <script id="listTemplate" type="text/x-jsrender" layout:fragment="custom-listTemplate">
        </script>
        <script id="listTemplate2" type="text/x-jsrender" layout:fragment="custom-listTemplate2">
        </script>
        <script id="categoryTemplate1" type="text/x-jsrender" layout:fragment="categoryTemplate1">
        </script>
        <script id="categoryTemplate2" type="text/x-jsrender" layout:fragment="categoryTemplate2">
        </script>

        <script type="text/x-jsrender" layout:fragment="detail_pop">
        </script>
        <script type="text/x-jsrender" layout:fragment="payment-script">
        </script>
        <script type="text/javascript">
            $(window).load(function() {
                $('.page_loading').addClass('pageldg_hide').delay(300).queue(function() {
                    $(this).remove();
                });

                getLeftMenuList();
                getUserAuthMenu();
            });
            $.views.settings.allowCode(true);
            function getLeftMenuList(){
                $.ajax({

                    url		:"/common/getLeftMenuList",
                    data    : $("#userProfileForm").serialize(),
                    dataType:"JSON",
                    cache   : false,
                    async   : true,
                    type	:"POST",
                    success : function(data) {
                        $("#leftMenuList").html($("#leftMenuListTemplate").render(data));
                    },
                    error 	: function(xhr, status, error) {}
                });
            }

            /** 메뉴별 계정 권한 조회  */
            function getUserAuthMenu(){
                /*<![CDATA[*/
                var menuName = '[[${session.menuName}]]';
                /*]]>*/

                if(menuName != "설정"){
                    $.ajax({
                        url		  : "/common/getUserAuthMenu",
                        data    : $("#userProfileForm").serialize(),
                        dataType: "JSON",
                        cache   : false,
                        async   : true,
                        type	: "POST",
                        success : function(obj) {
                            getUserAuthMenuCallback(obj);
                        },
                        error 	: function(xhr, status, error) {
                            $('#container').html("" +
                                "        <div id=\"contents\">\n" +
                                "            <br/><br/><br/><br/>\n" +
                                "            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;접근 권한이 없습니다. ( admin@mindslab.ai )</p>\n" +
                                "        </div>");

                        }

                    });
                }
            }

            /** 메뉴별 계정 권한  콜백 함수 */
            function getUserAuthMenuCallback(obj){

                if(obj != null){
                    var createYN 	    = obj.createYN;
                    var updateYN 	    = obj.updateYN;
                    var deleteYN 	    = obj.deleteYN;

                    console.log(createYN);
                    console.log(updateYN);
                    console.log(deleteYN);
                    $('#createYN').val(createYN);
                    $('#updateYN').val(updateYN);
                    $('#deleteYN').val(deleteYN);

                } else {
                    return;
                }
            }

            $('#createBtn').on('click', function () {
                if($('#createYN').val() == 'Y'){
                    alert("등록 권한 O");
                    return;
                }else{
                    alert("등록 권한 X");
                }
                console.log('createYN ::: '+$('#createYN').val());
            });

            $('#updateBtn').on('click', function () {
                if($('#updateYN').val() == 'Y'){
                    alert("수정 권한 O");
                    return;
                }else{
                    alert("수정 권한 X");
                }
                console.log('updateYN ::: '+$('#updateYN').val());
            });

            $('#deleteBtn').on('click', function () {
                if($('#deleteYN').val() == 'Y'){
                    alert("삭제 권한 O");
                    return;
                }else{
                    alert("삭제 권한 X");
                }
                console.log('deleteYN ::: '+$('#deleteYN').val());
            });
        </script>
        <script>
            jQuery.event.add(window,"load",function(){
                $(document).ready(function (){

                    // header user
                    $('#header .etcmenu .userBox dl dd > a').on('click',function(){
                        $(this).parent().parent().addClass('active');
                    });
                    $('#header .etcmenu .userBox').on('mouseleave',function(){
                        $('#header .etcmenu .userBox dl').removeClass('active');
                    });


                    // snb
                    $('.snb ul.nav li a').on('click',function(){
                        $('.snb ul.nav li').removeClass('active');

                        $(this).parents('li').addClass('active');
                    });
                    $('.snb ul.sub_nav > li > a').on('click',function(){
                        $('.snb ul.sub_nav li').removeClass('active');

                        $(this).parent('li').addClass('active');
                        $(this).parents('li').parents('ul.sub_nav ').parents('li').addClass('active');
                    });

                });
            });
        </script>

        <script id="leftMenuListTemplate" type="text/x-jsrender">
        {{for data.list}}
                        <li class="{{:~root.menuName ==  menuMasterNm ? 'active' : 'false'}}"><a href="{{>menuMasterUrl}}"><em class="{{>iconNm}}"></em><span>{{>menuMasterNm}}</span></a>
                        <ul class="sub_nav">
            {{for menuSubList ~menuMasterNo=menuMasterNo}}

                            <li class="{{:~root.subMenuName ==  menuNm ? 'active' : 'false'}}"><a href="{{>menuUrl}}">{{>menuNm}}</a></li>
            {{/for}}
                        </ul>
                    </li>
        {{/for}}
                    <li class="{{:~root.menuName ==  '설정' ? 'active' : 'false'}}"><a href="/admin/adminUserList"><em class="fas fa-users-cog"></em><span>설정</span></a>
                        <ul class="sub_nav">
                            <li class="{{:~root.subMenuName ==  '계정관리' ? 'active' : 'false'}}"><a href="/admin/adminUserList">계정관리</a></li>
                            <li class="{{:~root.subMenuName ==  '권한그룹관리' ? 'active' : 'false'}}"><a href="/admin/authGroupList">권한그룹관리</a></li>
                            <li class="{{:~root.subMenuName ==  '메뉴관리' ? 'active' : 'false'}}"><a href="/admin/menuMasterList">메뉴관리</a></li>
                        </ul>
                    </li>
        </script>

    </body>
</html>
