@charset "utf-8";
/* MINDsLab. YMJ. 20190830 smr 20191126 edit */

/* -------------------- login -------------------- */
.gcsLoginWrap {background:url(../images/bg_login.png) 50% 50% no-repeat; background-size:cover;}
.gcsLoginWrap .main_tit {position:absolute; top:50%; left:50%; margin:-250px 0 0 -180px; ;color:#fff; font-size:20px; font-weight:bold;}
.gcsLoginWrap .main_tit span {font-size:18px; font-weight:300;}

/* Login */
.loginWrap {overflow:hidden; position:absolute; top:50%; left:50%; width:853px; height:416px; margin:-208px 0 0 -426px; border-radius:5px; box-shadow:0 0 30px rgba(0,0,0,0.1); background:#fff;}
.loginWrap fieldset {display:block; float:left; width:100%; height:100%;}
.loginWrap .loginBox {display:table; width:100%; height:100%;}
.loginWrap .fl {display:table-cell;  width:50%; height:100%; text-align:center; vertical-align:middle;font-size:50px; font-weight:bold;color:#3b445b;}
.loginWrap .fr {display:table-cell; position:relative; width:50%; padding:0 55px; text-align:center; vertical-align:middle;}
.loginWrap .fr:before {content:"";position:absolute; left:-1px; bottom:90px; width:1px ; height:240px; background:#d8e2fa; }

.loginWrap .fl .sub_logo {margin:10px 0 0 0;}
.loginWrap .fr span {display:block; position:relative; margin:5px 0; text-align:left;}
.loginWrap .fr span .ipt_txt {display:block; width:85%; height:36px; padding:0 5px 0 40px; line-height:36px; border:2px solid #fff; border-radius:5px; box-shadow:inset 2px 2px 5px rgba(0,0,0,0.1); transition:all 0.3s ease-out;}
.loginWrap .fr span #ipt_id {background:#e0e9f6 url("../images/ico_mail.png") 10px 50% no-repeat !important;}
.loginWrap .fr span #ipt_pw {background:#e0e9f6 url("../images/ico_key.png") 10px 50% no-repeat !important;}
.loginWrap .fr span input#ipt_id:-webkit-autofill{background:#e0e9f6 url("../images/ico_mail.png") 10px 50% no-repeat !important;}
.loginWrap .fr span input#ipt_pw:-webkit-autofill{background:#e0e9f6 url("../images/ico_key.png") 10px 50% no-repeat !important;}
/* checkBox */
.loginWrap .checkBox{display:inline-block; position:relative; margin:0 10px 0 0;}
.loginWrap .checkBox input[type="checkbox"]{position:absolute; overflow:hidden; width:1px; height:1px; padding:0; margin:-1px; clip:rect(0,0,0,0); border:0;}
.loginWrap .checkBox input[type="checkbox"] + label{display:inline-block; position:relative; margin:0 10px 0 0; padding-left:25px; font-size:13px; cursor:pointer; -webkit-user-select:none; -moz-user-select:none; -ms-user-select:none;}
.loginWrap .checkBox input[type="checkbox"] + label:before{content:''; position:absolute; top:0; left:0; width:15px; height:15px; line-height:15px; text-align:center; border:1px solid rgba(59,68,91,0.4); border-radius:3px; background:#fff;}
.loginWrap .checkBox input[type="checkbox"] + label:active:before, .checkBox input[type="checkbox"]:checked + label:active:before{}
.loginWrap .checkBox input[type="checkbox"] + label:after {content:""; position:absolute; left:5px; top:10px;}
.loginWrap .checkBox input[type="checkbox"]:focus + label {text-decoration:underline;}
.loginWrap .checkBox input[type="checkbox"]:focus + label:before {border-color:#6b87e0;}
/*.loginWrap .checkBox input[type="checkbox"]:checked + label:before{content:'\2714'; color:#fff;  border-color:#6b87e0; background:#6b87e0;}*/
.loginWrap .checkBox input[type="checkbox"]:checked + label:before {border:1px solid #6b87e0; background:#fff;}
.loginWrap .checkBox input[type="checkbox"]:checked + label:after {top:6px; left:4px; width:7px; height:3px; border:2px solid #6b87e0; border-top-style:none; border-right-style:none; transform:rotate(-45deg);}
.loginWrap .checkBox input[type="checkbox"]:disabled + label:before{background:rgba(59,68,91,0.1);}

.loginWrap .fr span .ipt_txt:focus {border:2px solid #6b87e0; box-shadow:none; background-color:#fff !important; transition:all 0.3s ease-out;}
.loginWrap .fr span .ipt_txt.error {border:2px solid #f00; transition:all 0.3s ease-out;}

.loginWrap .fr span .txt_error {display:none; position:relative; left:0; color:#f00; text-align:left;}
.loginWrap .fr span .disbBox {position:absolute; top:0; left:0; width:100%; height:100%; cursor:pointer;}
.loginWrap .fr span .btn_login {display:block; width:100%; height:46px; margin:27px 0 0 0; color:#fff; font-size:14px; line-height:46px; border:none; border-radius:3px; background:#3b445b; cursor:pointer; transition:all 0.3s ease-out;}
.loginWrap .fr span .btn_login_rta{background:#ff8415;}
.loginWrap .fr span .btn_login_chatbot{background:#6d98fa;}
.loginWrap .fr span .btn_login_voc{background:#654ccc;}
.loginWrap .fr span .btn_login.disabled {height:46px; background:#3b445b;}
.loginWrap .fr .btn_forgot {margin:10px 0 0 0; color:#363a44;  text-align:center; background-color:transparent; border:none;}


.copyRight {position:absolute; bottom:20px; width:100%; color:#fff; text-align:center;}

/* -------------------- Layer Popup -------------------- */
.lyrWrap{display:none; position:fixed; top:0; left:0; width:100%; height:100%; z-index:9999;}
.lyrWrap .lyr_bg{position:absolute; top:0; left:0; width:100%; height:100%; background:rgba(0,0,0,0.85);}
.lyrWrap .lyr_bg.ie9{position:absolute; top:0; left:0; width:100%; height:100%; background:rgba(255,255,255,1.0);}
.lyrBox{display:none; overflow:hidden; position:absolute; top:50px; left:50%; width:500px; margin:0 0 0 -250px; border-radius:5px; box-shadow:0 0 15px rgba(59,68,91,0.3); -webkit-animation:lyr_show 0.3s 0s ease-out; animation:lyr_show 0.3s 0s ease-out;}
/* keyframes */
@-webkit-keyframes lyr_show{
    0%{top:30px; opacity:0;}
    100%{top:50px; opacity:1;}
}
@keyframes lyr_show{
    0%{top:30px; opacity:0;}
    100%{top:50px; opacity:1;}
}
.lyrBox .lyr_top{clear:both; overflow:hidden; height:35px; padding:5px; background:#6b87e0;}
.lyrBox .lyr_top h3{float:left; padding:5px;color:#fff; font-size:16px;}
.lyrBox .lyr_top .btn_lyr_close{position:relative; overflow:hidden; float:right; width:25px; height:25px; margin:3px 5px 0 0; text-indent:-99px; border:none; background:none; opacity:0.3; transition:all 0.3s ease-out; cursor:pointer;}
.lyrBox .lyr_top .btn_lyr_close:hover, .lyrBox .lyr_top .btn_lyr_close:focus{opacity:0.7; transition:all 0.3s ease-out;}
.lyrBox .lyr_top .btn_lyr_close:before{content:''; position:absolute; top:50%; left:0%; width:100%; height:2px; background:#fff; border-radius:5px; transform:rotate(45deg);}
.lyrBox .lyr_top .btn_lyr_close:after{content:''; position:absolute; top:50%; left:0%; width:100%; height:2px; border-radius:5px; background:#fff; transform:rotate(-45deg);}

.lyrWrap .lyrBox .lyr_mid{display:block; padding:20px; background:#fff;}
.lyrWrap .lyrBox .lyr_mid .dlBox {display:table; width:100%; margin:0 0 15px 0;}
.lyrWrap .lyrBox .lyr_mid .dlBox:last-child {margin:0;}
.lyrWrap .lyrBox .lyr_mid .dlBox dt {display:table-cell; width:60px; padding:0 10px 0 0; color:rgba(59,68,91,1.0); font-size:13px; text-align:right; vertical-align:top; line-height:30px;}
.lyrWrap .lyrBox .lyr_mid .dlBox dd {display:table-cell; vertical-align:middle;}
.lyrWrap .lyrBox .lyr_mid .dlBox dt.dt {text-align: left;}
.lyrWrap .lyrBox .lyr_mid .select_Box {width:100%;overflow: hidden; border-top: 1px solid #eee; padding: 0 0 14px 0; border-bottom: 1px solid #eee;}
.lyrWrap .lyrBox .lyr_mid .select_Box .unit {float:left;width:30%}
.lyrWrap .lyrBox .lyr_mid .select_Box .unit span {float: left; text-align: left; padding:0 10px 0 0; color:rgba(59,68,91,1.0); font-size:13px;vertical-align:top; line-height:30px;}
.lyrWrap .lyrBox .lyr_mid .select_Box .unit .select {width:95%;float: left;}
.lyrWrap .lyrBox .lyr_mid .select_Box button{color: #fff; font-size: 11px;background: #6b87e0; border: none; width: 10%; border-radius: 4px; height: 29px;margin: 30px 0 0 0;}

.lyrWrap .lyrBox .lyr_mid .add_tbl {max-height:300px; overflow: auto; margin: 14px 0;border-radius: 4px;}
.lyrWrap .lyrBox .lyr_mid .add_tbl .tbl_line_lst thead th {padding:5px 10px; background: rgba(107, 135, 224, 0.8);color: #fff;}
.lyrWrap .lyrBox .lyr_mid .add_tbl .tbl_line_lst tr:hover td{background: rgba(59,68,91,0.025);}
.lyrWrap .lyrBox .lyr_mid .add_tbl .tbl_line_lst td:last-child {text-align: center;}
.lyrWrap .lyrBox .lyr_mid .add_tbl .tbl_line_lst td em {cursor:pointer;transition:all 0.3s ease-out;}
.lyrWrap .lyrBox .lyr_mid .add_tbl .tbl_line_lst td em:hover {color:#f0557e;transition:all 0.3s ease-out;}

.lyrWrap .lyrBox .lyr_mid .legacy-browser{display:block; font-size:14px; line-height:20px;}
.lyrWrap .lyrBox .lyr_mid .legacy-browser a{ color:#008ad8;}
.lyrWrap .lyrBox .lyr_mid .legacy-browser a:hover, .lyrWrap .lyrBox .lyr_mid .legacy-browser a:focus{text-decoration:underline;}
.lyrWrap .lyrBox .lyr_mid .preview{display:block; margin:0 0 5px 0; color:rgba(59,68,91,0.4); font-size:50px; text-align:center;}
.lyrWrap .lyrBox .lyr_mid .codeview{display:block; padding:10px;}
.lyrWrap .lyrBox .lyr_mid .codeview pre{display:block; padding:10px; font-size:14px;}
.lyrWrap .lyrBox .lyr_btm{clear:both;display:block; padding:12px 7px; text-align:center; background:#f1f1f1;}
.lyr_hide{-webkit-animation-duration:0.5s; animation-duration:0.5s; -webkit-animation-fill-mode:both; animation-fill-mode:both; -webkit-animation-name:lyr_hide; animation-name:lyr_hide;}
/* keyframes */
@-webkit-keyframes lyr_hide{
    0%{opacity:1;}
    100%{opacity:0;}
}
@keyframes lyr_hide{
    0%{opacity:1;}
    100%{opacity:0;}
}

.admin_pop { width: 360px;height: 267px;border-radius: 5px;box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);border: solid 1px #cfd5eb;background-color: #ffffff; margin: 200px 0 0 0;box-sizing: border-box; padding:21px 30px 0;}
.admin_pop .pop_hd h2{position:relative;letter-spacing: -0.13px; color: #2c3f51;font-size:16px;font-weight: 500;padding:0 0 9px 0;border-bottom: dotted 1px #c3c8dc; text-align: left;margin: 0 0 18px 0;height: 24px; line-height: 24px;}
.admin_pop .pop_hd h2 em{position:absolute; right:0; opacity: 0.6;cursor: pointer;  transition:all 0.3s ease-out;}
.admin_pop .pop_hd h2 em:hover {opacity: 1; transition:all 0.3s ease-out;}
.admin_pop .pop_bd {height:auto; padding: 0;}
.admin_pop .pop_bd .change_box {width:100%; clear: both;}
.admin_pop .pop_bd .change_box li {height:33px;letter-spacing: -0.11px;font-size:14px; color: #31375a;}
.admin_pop .pop_bd .change_box li span {float: left;min-width:90px; text-align: left;height:100%;line-height: 33px;}
.admin_pop .pop_bd .change_box li p {float:left;width: auto; padding: 0; line-height: 33px;letter-spacing: -0.11px;color: #31375a;}
.admin_pop .pop_bd .change_box li .select_type {width:155px;margin: 3px 0 0 0;}
.admin_pop .btn .save {  width: 89px;height: 40px;border-radius: 5px;background-color: #6b88e0;color:#fff;border:1px solid #6b88e0; box-sizing: border-box; margin: 25px auto 0;}
.admin_pop input {width: 50%;float: left; height: 30px; padding-left: 10px; border-radius: 5px; border: 1px solid #b2bfd6; font-size: 12px; background: #f5f7fb; box-sizing: border-box; color: #313759;}
#pop_period, #pop_nextpay {z-index: 100;}
.admin_pop .date_box{ float:left; margin: 3px 0 0 0;}
#pop_period .admin_pop .pop_bd .change_box li > span {min-width: 70px; width:70px;}
.admin_pop .pop_bd  li .date_box span.hyphen  { min-width: 20px; line-height: 32px; text-align: center;}
.admin_pop .date_box input {width: 80%; float: left; height:30px; padding-left:10px; border-radius:5px; border:1px solid #b2bfd6;font-size: 12px;background: #f5f7fb; box-sizing: border-box;color: #313759;}
.admin_pop .date_box input:focus {border:1px solid #6b87e0; border-radius:5px;}
.admin_pop .date_box input.ipt_datd{ width: 104px;background: #f5f7fb url(../images/ico_date_bk.png) right 7px top 50% no-repeat;color: #313759;}
.admin_pop .date_box input::placeholder {color:#9497a9;}

#pop_apistatus .admin_pop .pop_bd .change_box li span {width:115px;}
#pop_payment .admin_pop .pop_bd .change_box li span {width:110px;}
#pop_marketing .admin_pop .pop_bd .change_box li span {width:160px;}
#pop_marketing  .admin_pop .pop_bd .change_box li .select_type {width:80px;}
#pop_cancle .admin_pop {height:auto; width: 460px;}
#pop_cancle .admin_pop .pop_bd .detail_box {overflow: hidden; padding: 0 0 10px 0; border-bottom: 1px solid #eee;}
#pop_cancle .admin_pop .pop_bd .detail_box li {float:left;width:20%;color: #6a88e0;}
#pop_cancle .admin_pop .btn .save {margin: 25px auto;}
/* -------------------- form -------------------- */
/* select */
.select{display:inline-block; min-width:100px; padding:5px; font-family:inherit; color:rgba(59,68,91,1.0); border:1px solid rgba(59,68,91,0.5); border-radius:5px; background:url("../images/arw_bottom_bk.png") right 7px top 50% no-repeat; -webkit-appearance:none; -moz-appearance:none; appearance:none; transition:all 0.3s ease-out;}
.select:focus{border:1px solid rgba(59,68,91,0.4); transition:all 0.3s ease-out;}
.select:disabled{background-color:rgba(59,68,91,0.1); opacity:0.6;}

.selectbox{display:inline-block; position:relative; min-width:50px; height:32px; line-height:30px; border:1px solid rgba(59,68,91,0.5); border-radius:5px; background:rgba(255,255,255,0.8); z-index:1; transition:all 0.3s ease-out;}
.selectbox:before{content:''; position:absolute; top:50%; right:10px; width:10px; height:10px; margin-top:-5px; background:url("../images/arw_bottom_bk.png") 50% 50% no-repeat; opacity:1.0;}
.selectbox label{position:absolute; top:1px; left:10px; padding:0; color:rgba(59,68,91,0.8); font-size:13px; z-index:-1;}
.selectbox select{width:100%; height:100%; padding:0 30px 0 0; font-family:inherit; font-size:13px; border:0; opacity:0; -webkit-appearance:none; -moz-appearance:none; appearance:none;}

.selectbox.focus{border:1px solid rgba(59,68,91,0.4); background:rgba(255,255,255,1.0); transition:all 0.3s ease-out;}
.selectbox.focus:before{ opacity:0.8; transition:all 0.3s ease-out;}
.selectbox.focus label{color:rgba(59,68,91,1.0);}

.selectbox.disabled{background-color:rgba(59,68,91,0.1); opacity:0.6;}

/* Input */
.iptBox{display:table; position:relative; width:100%;}
.iptBox .ipt_txt{display:block; width:calc(100% - 12px); height:32px; padding:0 5px; color:rgba(59,68,91,1.0); font-size:13px; border:1px solid rgba(59,68,91,0.2); border-radius:5px; transition:all 0.3s ease-out;}
.iptBox .ipt_txt:focus{border:1px solid rgba(59,68,91,0.4); box-shadow:0 2px 3px rgba(59,68,91,0.1); transition:all 0.3s ease-out;}
.iptBox .ipt_txt:disabled{background:rgba(59,68,91,0.1);}
.iptBox .ipt_txt + span{display:inline-block; margin:0 5px;}
.iptBox .btn_srch{position:absolute; top:0; right:0; overflow:hidden; width:70px; height:34px; color:#fff; font-size:11px; border:none; border-radius:0 5px 5px 0; background:rgba(59,68,91,0.5); transition:all 0.3s ease-out;}
.iptBox .btn_srch:hover, .iptBox .btn_srch:focus{text-decoration:underline; background:rgba(59,68,91,0.8); transition:all 0.3s ease-out;}

.iptBox .ipt_txt.error{border:1px solid rgba(255,0,0,1.0) !important;}
.iptBox .error_msg{display:block; padding:3px 0 0 0; color:rgba(255,0,0,1.0); font-size:12px; word-break:keep-all;}

.iptBox .textArea {padding: 5px; width:100%; min-height:100px;color: rgba(59,68,91,1.0); font-size: 13px; border: 1px solid rgba(59,68,91,0.2); border-radius: 5px;box-sizing: border-box;}
/* checkbox */
.checkbox {float: left; position:relative; min-width:20px; vertical-align:top; cursor:pointer; margin: 3px 0 0 0;}
.checkbox label {line-height:30px; padding-left:30px;}
.checkbox label:empty {padding-left:20px;}
.checkbox label:before,
.checkbox label:after {content:""; position:absolute; left:5px; top:10px;}
.checkbox label:before {width:18px; height:18px; border:1px solid #cfd5eb; border-radius:5px !important; background:#fff; cursor:pointer;/* -webkit-transition:background .3s ease; *//* transition:background .3s ease; */-webkit-box-shadow:inset 0 1px 0 0 rgba(0,0,0,.1);box-shadow:inset 0 1px 0 0 rgba(0,0,0,.1);top: 5px;  left: 0;}
.checkbox input[type="checkbox"] {position:absolute; left:0; width:0; height:0; opacity:0;}
.checkbox input[type="checkbox"]:checked + label:before {border:1px solid #6b87e0; background:#fff;}
.checkbox input[type="checkbox"]:checked + label:after {top:12px; left:5px; width:7px; height:3px; border:2px solid #6b87e0; border-top-style:none; border-right-style:none; transform:rotate(-45deg);}
.checkbox + .checkbox {margin-left:16px;}

.ipt_check_only{display:inline-block; position:relative; margin:0;}
.ipt_check_only input[type="checkbox"]{padding:0; margin:-1px; clip:rect(0,0,0,0); border:0;}
.ipt_check_only input[type="checkbox"]:before{content:''; position:absolute; top:0; left:0; width:15px; height:15px; margin:-1px 0 0 0; line-height:15px; text-align:center; border:1px solid rgba(59,68,91,0.4); border-radius:3px; background:#fff;}
.ipt_check_only input[type="checkbox"]:checked:before{content:'';   border-color:#f0557e; background:#f0557e;}
.ipt_check_only input[type="checkbox"]:checked:after {content:""; position:absolute;top:4px; left:4px; width:7px; height:3px; border:2px solid #fff; border-top-style:none; border-right-style:none; transform:rotate(-45deg);}

/* radio */
.radio { position:relative;float: left; margin: 3px 0 0 0; min-width:14px; vertical-align:top; cursor:pointer;}
.radio label {line-height:30px; padding-left:30px;}
.radio label:empty {padding-left:14px;}
.radio label:before,
.radio label:after {content:""; position:absolute; left:5px; top:10px;border-radius: 10px;transition:all 0.2s ease-out;}

.radio label:before {width:18px; height:18px; border:1px solid #b1bed5; border-radius:50%; background:#fff; cursor:pointer; -webkit-transition:background .3s ease; transition:background .3s ease; -webkit-box-shadow:inset 0 1px 0 0 rgba(0,0,0,.1); box-shadow:inset 0 1px 0 0 rgba(0,0,0,.1);top:5px; left:0px;}
.radio input[type="radio"] {position:absolute; left:0; width:0; height:0; opacity:0;transition:all 0.2s ease-out;}
.radio input[type="radio"]:checked + label:before {background:#fff;}
.radio input[type="radio"]:checked + label:after {top:10px; left:5px; width:10px; height:10px; border-radius:50%; background:#6b87e0;transition:all 0.2s ease-out;}
.radio + .radio {margin-left:16px;}
.radio label i {margin:0 5px 0 0;}


/* -------------------- 공통 -------------------- */
.hide{position:absolute; top:0; left:0; clear:both; overflow:hidden; width:0; height:0; margin:0; padding:0; line-height:0;}

.tbl_top_info{display:block; clear:both; overflow:hidden; padding:10px 0 30px 0; text-align:center;}
.tbl_top_info .search_box {position:relative; overflow:hidden;  margin:0 0 10px 0;border: 1px solid #c3c8dc; border-radius: 5px;  background: #fff;box-sizing: border-box;widht:100%;padding:20px 40px 0;}
.tbl_top_info .search_box input {width: 80%; float: left; height:30px; padding-left:10px; border-radius:5px; border:1px solid #b2bfd6;font-size: 12px;background: #f5f7fb; box-sizing: border-box;color: #313759;}

.tbl_top_info .search_box input:focus {border:1px solid #6b87e0; border-radius:5px;}
.tbl_top_info .search_box input.ipt_txt{ background: #f5f7fb url(../images/ico_date_bk.png) right 7px top 50% no-repeat;color: #313759;}
.tbl_top_info .search_box input.short_int {width:40px;}
.tbl_top_info .search_box input::placeholder {color:#9497a9;}
.tbl_top_info .search_box small {float:left;padding: 13px 0 0 5px;color: #313759;}
.tbl_top_info .search_box .btn_result {position:absolute; top:23px; right:0;}
.tbl_top_info .search_box .search_list {display:block;clear: both; overflow: hidden; margin: 0 0 8px 0; }
.tbl_top_info .search_box .search_list .block {width: 33.33%; height: 30px;float: left;line-height: 30px; box-sizing: border-box;}
.tbl_top_info .search_box .search_list span.title {min-width:71px; float: left;margin: 0;font-size: 12px;text-align: left;line-height: 32px;  border-radius: 2px; color: #313759;font-weight: 500;}
.tbl_top_info .search_box .search_list .block span.title {min-width:110px;}
.tbl_top_info .search_box .search_list .input_text {float:left; line-height: 32px;color: #313759;}
.tbl_top_info .search_box .search_list .input_text em {color:#8da4ec; font-size:16px;margin:0 0 0 10px;cursor: pointer;}
.tbl_top_info .search_box .search_list .btn {float:left;}
.tbl_top_info .search_box .search_list .btn button{width:70px;height:32px;color: #ffffff;border: 1px solid #6b87e0;background: #6b87e0; border-radius: 4px; margin: 0 5px 0 0;}
.tbl_top_info .search_box .search_list .btn button:hover, .tbl_top_info .search_box .search_list .btn button:focus{box-shadow:0 2px 4px rgba(59,68,91,0.4); transition:all 0.3s ease-out;}
.tbl_top_info .btnBox{padding: 12px 0 15px 0; clear: both;  border-top: dotted 1px #c3c8dc;margin:24px 0 0 0;}
.ipt_check{float: left; width: 90%; height: 32px;}
.tbl_top_info .search_box input[type="radio"]{position:absolute; overflow:hidden; width:1px; height:1px; padding:0; margin:-1px; clip:rect(0,0,0,0); border:0;}
.tbl_top_info .search_box input[type="radio"]:before{content:''; position:absolute; top:10px; left:0; width:15px; height:15px; margin:-1px 0 0 0; line-height:15px; text-align:center; border:1px solid rgba(59,68,91,0.4); border-radius:3px; background:#fff;}
.tbl_top_info .search_box input[type="radio"]:checked:before{content:'\2714'; color:#fff;  border-color:#f0557e; background:#f0557e;}

/* select */
.select_type {float: left; width:16.5%;position:relative; vertical-align:middle;}
.select_type > label {position:absolute !important; height:1px; width:1px; overflow:hidden; clip:rect(1px,1px,1px,1px);}
.select_type select {overflow:hidden; display:block; width:80%;  height:30px; line-height:30px; box-sizing: border-box; color: #313759;padding:0 18px 0 5px; border:1px solid #b1bed5; background:#f5f7fb url(../images/ico_arrow_down03.png) right 7px center no-repeat; background-size:9px 6px; text-align:left; border-radius:5px; font-size:12px; appearance:none; -webkit-appearance:none;}
.select_type select::-ms-expand {opacity:0;}/* ie10부터 적용 */
.select_type + .select_type {margin-left:10px;}
.select_type select:hover,
.select_type select:focus,
.select_type select:active {border:1px solid #6b87e0; border-radius:5px;}
.select_type .hyphen {float:left; width: 20px; line-height: 32px;}
.select_short {width:10%; min-width: 105px;}
.radio_type small{margin:0 10px 0 0;}
/*.date_type {width:30%;}*/
.date_type {min-width:260px;}
.date_type input.ipt_txt { width: calc(40% - 10px);float: left;min-width:105px;}
.search_type {width:25%; float: left;}
.search_type input.ipt_srch {height: 32px;}
.tbl_btm_info{display:block; padding:30px 0 0 0; text-align:center;}
.tbl_btm_info .tbl_path{float:left; color:rgba(59,68,91,0.6); font-size:13px; line-height:32px;}
.tbl_btm_info .tbl_path strong{color:#f0557e;}
/*.paydate_type {width:16.5%;}*/

/* button */
.btnBox{display:block;}
.btnBox button{display:inline-block; height:100%; margin:0 5px 0 0; padding: 3px 20px; font-size:13px; text-align:center; border:1px solid #999; border-radius:5px; background-color:#fff; transition:all 0.3s ease-out;}
.btnBox button:hover, .btnBox button:focus{box-shadow:0 2px 4px rgba(59,68,91,0.4); transition:all 0.3s ease-out;}
.btnBox button span{display:block; line-height:12px;}
.btnBox button img{vertical-align:middle;}
.btnBox button:disabled{cursor:default;}
.btnBox button:disabled:hover, .btnBox button:disabled:focus{text-decoration:none; box-shadow:none;}
.btnBox button:last-child{margin-right:0;}
.btnBox button.detail_btn {background: #6b87e0; color: #fff; padding: 3px 10px; font-size: 12px; border: 1px solid #6b87e0; border-radius: 5px;}

.btnBox.sz_large button{min-width:120px; height:46px; line-height:44px;}
.btnBox.sz_large button img{display:inline-block; width:18px; margin:-3px 7px 0 0;}
.btnBox.sz_regular button{min-width:95px; height:38px; line-height:36px;}
.btnBox.sz_regular button img{display:inline-block; width:16px; margin:-3px 7px 0 0;}
.btnBox.sz_small button{padding: 7px 30px; font-size: 14px;width: 120px;height: 37px;}

.btnBox.sz_small button.btn_excel { position:relative; text-align:left; letter-spacing:-0.4px;border:1px solid #596c91;color: #313759;}
.btnBox.sz_small button.btn_excel a {display: block;}
.btnBox.sz_small button.btn_excel em {margin:0 0 0 5px;color:#596c91;}

button.btnS_basic{color:#fff; border:1px solid #f0557e; background:#f0557e;}
button.btnS_basic:disabled{color:rgba(59,68,91,0.4); border:1px solid rgba(59,68,91,0.02);  background:rgba(59,68,91,0.1);}
button.btnS_line{color:#f0557e; border:1px solid #f0557e; background:#fff;}
button.btnS_line:disabled{color:rgba(59,68,91,0.25); border:1px solid rgba(59,68,91,0.2); background:#fff;}

button.btnR_basic{color:#fff; border:1px solid #f0557e; border-radius:50px; background:#f0557e;}
button.btnR_basic:disabled{color:rgba(59,68,91,0.4); border:1px solid rgba(59,68,91,0.02); border-radius:50px; background:rgba(59,68,91,0.1);}
button.btnR_line{color:#f0557e; border:1px solid #f0557e; border-radius:50px; background:#fff;}
button.btnR_line:disabled{color:rgba(59,68,91,0.25); border:1px solid rgba(59,68,91,0.2); border-radius:50px; background:#fff;}

button.btnC_basic{width:80px; min-width:80px !important; height:80px !important; padding:0; color:#fff; border:1px solid #f0557e; border-radius:50px; background:#f0557e;}
button.btnC_basic img{width:30px !important; margin:0 0 5px 0 !important;}
button.btnC_basic:disabled{color:rgba(59,68,91,0.4); border:1px solid rgba(59,68,91,0.02); border-radius:50px; background:rgba(59,68,91,0.1);}
button.btnC_basic img.onlyImg, button.btnC_basic:disabled img.onlyImg{width:45px !important; margin:0 !important;}

button.btnC_line{width:80px; min-width:80px !important; height:80px !important; padding:0; color:#f0557e; border:1px solid #f0557e; border-radius:50px; background:#fff;}
button.btnC_line img{width:30px !important; margin:0 0 5px 0 !important;}
button.btnC_line:disabled{color:rgba(59,68,91,0.25); border:1px solid rgba(59,68,91,0.2); border-radius:50px; background:#fff;}
button.btnC_line img.onlyImg, button.btnC_line:disabled img.onlyImg{width:45px !important; margin:0 !important;}
button.btnC_line:disabled img, button.btnC_line:disabled img.onlyImg{opacity:0.5;}

/* 자동 모니터링 실행 결과 */
.total_wrap {overflow:hidden; margin:0 auto 10px;width:80%;height: 93px;  box-sizing:border-box; border: 1px solid #c3c8dc; border-radius:5px; background:#fff;}
.total_wrap ul { height: 100%;  }
.total_wrap ul li {float:left; width:25%; height:100%; padding:14px 0;text-align:center; color: #31375a; font-weight:600;font-size: 14px;box-sizing: border-box;}
.total_wrap ul li:first-child {background-color: #31375a;color:#fff;}
.total_wrap ul li span {display:block;text-align:center; color: #31375a; font-weight:600;font-size: 14px;}
.total_wrap ul li:first-child span {color:#fff;}
.total_wrap ul li a {position:relative; display: inline-block;color:#fff; font-size:30px;height: 45px; line-height: 45px;letter-spacing: -0.2px;font-weight: 600;transition:all 0.3s ease-out;}
.total_wrap ul li a.outsider {color:#ff8e20;}
.total_wrap ul li a.insider {color:#23bbc4;}
.total_wrap ul li a.exception {color:#ff5182;}
.total_wrap ul li a:hover:after {content: '';position:absolute; bottom:0 ;left:0; height:2px; width:100%;background-color: #fff;opacity:1;-webkit-animation-duration:0.5s; animation-duration:0.5s; -webkit-animation-fill-mode:both; animation-fill-mode:both; -webkit-animation-name:opacity; animation-name:opacity;}
.total_wrap ul li a.outsider:hover:after {content: '';position:absolute; bottom:0 ;left:0; height:2px; width:100%;background-color: #ff8e20; -webkit-animation-duration:0.5s; animation-duration:0.5s; -webkit-animation-fill-mode:both; animation-fill-mode:both; -webkit-animation-name:opacity; animation-name:opacity;}
.total_wrap ul li a.insider:hover:after {content: '';position:absolute; bottom:0 ;left:0; height:2px; width:100%;background-color: #23bbc4; -webkit-animation-duration:0.5s; animation-duration:0.5s; -webkit-animation-fill-mode:both; animation-fill-mode:both; -webkit-animation-name:opacity; animation-name:opacity;}
.total_wrap ul li a.exception:hover:after {content: '';position:absolute; bottom:0 ;left:0; height:2px; width:100%;background-color: #ff5182; -webkit-animation-duration:0.5s; animation-duration:0.5s; -webkit-animation-fill-mode:both; animation-fill-mode:both; -webkit-animation-name:opacity; animation-name:opacity;}

@-webkit-keyframes opacity {
    0% {opacity:0;}
    100% {opacity:1;}
}

@keyframes opacity {
    0% {opacity:0;}
    100% {opacity:1;}
}

.total_wrap:last-child {height:76px;}
.total_wrap .count_box {width:33.33%;float:left;padding: 0 71px; box-sizing: border-box;margin: 10px 0 0 0;}
.total_wrap .count_box h5 {border-bottom: dotted 1px #b6bad3;font-size: 14px; color: #31375a;line-height: 2.14; letter-spacing: -0.09px;  font-weight: 500;}
.total_wrap .count_box h5 {font-weight: 600;}
.total_wrap .count_box p {font-size: 16px;line-height: 26px; color: #5989f3;font-weight: 500;}
.total_wrap .count_box p small {color:#31375a; font-size:13px;}
/* -------------------- Table -------------------- */
.menu_stn {clear:both;margin:50px 0 0 0;}
.stn_cont {clear:both;}
.stn_cont .btnBox {float: right; margin: 0 0 10px 0;}
/* Table(List) */
.tbl_tit {position:relative;font-size:15px; font-weight:400;color: #313759; margin: 0 0 7px 0;}
.tbl_tit span {font-weight:600;}
.tbl_tit span.right_txt {position:absolute;right:0;font-size:12px; font-weight: 500;}
.menu_tit {float:left; font-size: 15px; color: #313659; height: 21px; line-height: 21px;}
.tbl_box {overflow: auto;border-radius: 5px;box-shadow: 2px 2px 10px rgba(0,0,0,0.1);}
.tbl_line_lst{width: 100%;}
.dash_tbl {margin: 0 0 30px 0;}
.tbl_line_lst thead th{padding:10px; color:rgba(255,255,255,1.0); font-size:12px; font-weight:500; text-align:center; vertical-align:middle;  background:rgb(49, 55, 89);}
.tbl_line_lst tbody th{padding:10px; color:rgba(59,68,91,1.0); font-size:12px; font-weight:500; text-align:left; vertical-align:middle; border-bottom:1px solid #eef1f7; letter-spacing:-1px; background:#fff;}
.tbl_line_lst tbody td{padding:10px; color:rgba(59,68,91,0.8); font-size:12px; text-align:center; vertical-align:middle; border-bottom:1px solid #eef1f7;  background:#fff;}
.tbl_line_lst tbody tr th:first-child,.tbl_line_lst tbody tr td:first-child{border-left:none;}
.tbl_line_lst tbody tr td:last-child{border-right:none;}
.tbl_line_lst tbody tr:nth-child(even) th,.tbl_line_lst tbody tr:nth-child(even) td{background:rgba(59,68,91,0.025);}
.tbl_line_lst tbody tr:hover td{background:rgba(59,68,91,0.05);}
.tbl_line_lst tbody tr td a.link{display:inline-block; color:#6b87e0; font-weight:600;text-align:left;}
.tbl_line_lst tbody tr td a:hover, .tbl_line_lst tbody tr td a:focus{text-decoration:underline;}
.tbl_line_lst td.col_num, .tbl_line_lst td.col_point, .tbl_line_lst td.col_date, .tbl_line_lst td.col_state, .tbl_line_lst td.col_worker{text-align:center;}
.tbl_line_lst tbody tr td span{display:inline-block; width:50px; padding:7px 0; color:#fff; font-size:11px; text-align:center; line-height:10px; border-radius:30px; background:rgba(59,68,91,0.5);}
.tbl_line_lst tbody tr td span.stand{color:rgba(59,68,91,1.0); background:rgba(59,68,91,0.1);}
.tbl_line_lst tbody tr td span.working{background:#00aebc;}
.tbl_line_lst tbody tr td span.support, .tbl_line_lst tbody tr td span.string{width:auto; background:none;}
.tbl_line_lst tbody tr td.data_none {text-align:center; background:#fff;}
.tbl_line_lst tbody tr td.data_none:hover {background:#fff;}
.tbl_line_lst tbody tr td.tit {font-weight:bold;}
.tbl_line_lst tbody tr td em.fa-sort-up {color:#ff5182; margin: 0 3px 0 0;}
.tbl_line_lst tbody tr td em.fa-sort-down {color:#21bac4; margin: 0 3px 0 0;}
.tbl_line_lst .btnBox {margin:0; float: unset;text-align: center;}
table.scroll{width:100%; display:table;}
table.scroll thead{float:left; width:100%;}
table.scroll thead th{display:table-cell; padding:10px;}
table.scroll thead th:last-child{padding-right:23px;}
table.scroll tbody{overflow-y:auto; overflow-x:hidden; float:left; width:100%; background:#fff;}
table.scroll thead tr,table.scroll tbody tr{display:table; width:100%;}
table.scroll tbody td{display:table-cell; min-width:20px; }


/* paging */
.paging{display:inline-block; clear:both; vertical-align:top; text-align:center;}
.paging .selectbox{margin:0 7px 0 0; vertical-align:top;}
.paging a{display:inline-block; overflow:hidden; height:28px; margin:0 7px; color:rgba(59,68,91,0.7); font-size:14px; text-decoration:none; line-height:26px; vertical-align:top; border-radius:5px; transition:all 0.3s ease-out;}
.paging a.btn_paging_first,.paging a.btn_paging_prev,.paging a.btn_paging_next,.paging a.btn_paging_last{width:28px; height:100%; margin:0 1px; text-indent:-9999px; border:1px solid rgba(59,68,91,0.5); background-color:#fff;}
.paging a.btn_paging_first{background:url("../images/ico_paging_first.png") center center no-repeat; background-size:10px 10px;}
.paging a.btn_paging_prev{background:url(../images/ico_paging_prev.png) center center no-repeat; background-size:10px 10px;}
.paging a.btn_paging_next{background:url(../images/ico_paging_next.png) center center no-repeat; background-size:10px 10px;}
.paging a.btn_paging_last{background:url(../images/ico_paging_last.png) center center no-repeat; background-size:10px 10px;}
.paging a:hover, .paging a:focus{color:rgba(59,68,91,1.0); text-decoration:underline; opacity:1.0; transition:all 0.3s ease-out;}
.paging a.btn_paging_first:hover,.paging a.btn_paging_prev:hover,.paging a.btn_paging_next:hover,.paging a.btn_paging_last:hover,
.paging a.btn_paging_first:focus,.paging a.btn_paging_prev:focus,.paging a.btn_paging_next:focus,.paging a.btn_paging_last:focus{opacity:0.7; transition:all 0.3s ease-out;}
.paging strong{display:inline-block; overflow:hidden; height:28px; margin:0 7px; color:#f0557e; font-size:14px; line-height:26px; vertical-align:top;}
