<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/mainLayout">
<head>
</head>
<body>



<!-- 6 .pop_simple -->
<div class="pop_simple" id="pop_cancle" layout:fragment="pop_cancle">
    <div class="pop_bg"></div>
    <!-- .popWrap -->
    <div class="popWrap admin_pop">
        <div class="pop_hd">
            <h2>결제 취소<em class="fas fa-times ico_close"></em></h2>
        </div>

        <!-- .pop_bd -->
        <div class="pop_bd">
            <ul class="detail_box">
                <li><p>구매자  </p> <span></span> </li>
                <li><p>상품명  </p> <span></span> </li>
                <li><p>승인금액</p> <span></span> <span></span> </li>
                <li><p>승인일자</p> <span></span> </li>
                <li><p>거래상태</p> <span></span> </li>
            </ul>
            <ul class="change_box">
                <li>
                    <span>요청자 :</span>
                    <p th:text="${userName}"></p>
                </li>
                <li>
                    <span>요청금액 :</span>
                    <p id="pop_acceptPrice"></p>
                </li>

            </ul>
            <form id="cancelPopForm">
                <input type="hidden" id="cancelTid" name="cancelTid" value="">
                <input type="hidden" id="cancelPayment" name="cancelPayment" value="">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
            </form>

        </div>
        <!-- //.pop_bd -->
        <div class="btn">
            <a class="save">결제 취소</a>
        </div>
    </div>
    <!-- //.popWrap -->
</div>
<!-- //.pop_simple -->


<!-- #wrap -->
<div id="wrap">
    <!-- #container -->
    <div id="container" layout:fragment="container">
        <!-- #contents -->
        <div id="contents">
            <!-- .content -->
            <div class="content">
                <!-- .section -->
                <form id="payForm" name="payForm">
                    <input type="hidden" id="function_name" name="function_name" value="getPayList"/>
                    <input type="hidden" id="current_page_no" name="current_page_no" value="1"/>
                    <input type="hidden" name="count_per_list" value="10">
                    <input type="hidden" name="payment" value="">
                    <input type="hidden" name="status" value="">
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                    <!-- .section -->
                    <div class="stn contBoxType">
                        <div class="tbl_top_info">
                            <!-- .search_box -->
                            <div class="search_box">
                                <div class="search_list">
                                    <span class="title">결제 수단</span>
                                    <div class="select_type">
                                        <select id="select_payment">
                                            <option selected>--</option>
                                            <option>Card</option>
                                            <option>Paypal</option>
                                        </select>
                                    </div>
                                    <span class="title">결제일</span>
                                    <div class="select_type date_type">
                                        <input type="text" id="payDayStart" name="payDayStart" class="ipt_txt" value="" placeholder="from" autocomplete="off">
                                        <span class="hyphen">-</span>
                                        <input type="text" id="payDayEnd" name="payDayEnd" class="ipt_txt" value="" placeholder="to" autocomplete="off">
                                    </div>

                                    <div class="radio_type" id="classifyUserStatus">
                                        <div class="radio">
                                            <input type="radio" id="all" name="term" value="total">
                                            <label for="all">전체</label>
                                        </div>
                                        <div class="radio">
                                            <input type="radio" id="week" name="term" value="7D">
                                            <label for="week">1주일</label>
                                        </div>
                                        <div class="radio">
                                            <input type="radio" id="month" name="term" value="1M">
                                            <label for="month">1개월</label>
                                        </div>
                                        <div class="radio">
                                            <input type="radio" id="2month" name="term" value="2M">
                                            <label for="2month">2개월</label>
                                        </div>
                                        <div class="radio">
                                            <input type="radio" id="3month" name="term" value="3M">
                                            <label for="3month">3개월</label>
                                        </div>

                                    </div>
                                </div>
                                <div class="search_list">
                                    <span class="title">거래상태</span>
                                    <div class="select_type">
                                        <select id="select_status">
                                            <option value="--" selected>--</option>
                                            <option value="00">승인</option>
                                            <option value="99">취소</option>
                                        </select>
                                    </div>
                                    <span class="title">회차</span>
                                    <div class="radio_type" id="radio_type">
                                        <input id="payCount" name="payCount" type="number" placeholder="" title="회차" class="short_int" value="">
                                        <small>회차</small>
                                        <div class="radio">
                                            <input type="radio" id="up" name="payCountRange" value="GTE"><label for="up">이상</label>
                                        </div>
                                        <div class="radio">
                                            <input type="radio" id="under" name="payCountRange" value="LTE"><label for="under">이하</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="search_list">
                                    <span class="title">Name</span>
                                    <div class="select_type">
                                        <input type="text" id="searchName" name="name" placeholder="고객명" title="Name" value="">
                                    </div>
                                    <span class="title">Email</span>
                                    <div class="select_type">
                                        <input type="email" id="searchEmail" name="email" placeholder="이메일" title="Email" value="">
                                    </div>
                                    <span class="title">Company</span>
                                    <div class="select_type">
                                        <input type="text" id="searchCompany" name="company" placeholder="회사" title="Company" value="">
                                    </div>
                                </div>
                                <div class="btnBox sz_small">
                                    <!--								<button type="button" class="btn_excel"><a href="#none" download>엑셀 다운로드<em class="fas fa-file-download"></em></a></button>-->
                                    <button type="button" class="btnS_basic" th:onclick="'javascript:getPayList()'">내역조회</button>
                                    <button type="button" class="btnS_basic" id="exelDwnBtn" th:onclick="'javascript:getExcelFile()'" style="padding: 7px 16px;" disabled>엑셀 다운로드</button>
<!--                                    <button type="button" class="btnS_line">합계조회</button>-->
                                </div>
                            </div>
                            <!-- //.search_box -->
                        </div>

                        <!--//내역조회 리스트-->
                        <div class="stn_cont">
                            <div class="tbl_box">
                                <table id="payment_tbl" class="tbl_line_lst" summary="maum.ai 회원 정보">
                                    <caption class="hide">테이블 제목</caption>
                                    <colgroup>
                                        <col style="width:30px;">
                                        <col style="width:50px;">
                                        <col style="width:140px;">
                                        <col style="width:250px;">
                                        <col style="width:165px;">
                                        <col style="width:180px;">
                                        <col style="width:90px;">
                                        <col style="width:90px;">
                                        <col style="width:80px;">
                                        <col style="width:80px;">
                                        <col style="width:100px;">
                                        <col style="width:100px;">
                                        <col style="width:80px;">
                                        <!--                                        <col style="width:130px;">-->
                                        <!--                                        <col style="width:120px;">-->
                                        <col style="width:75px;">
                                        <col style="width:80px;">
                                        <col style="width:50px;">
                                        <!-- cell 개수 만큼 <col> 개수를 넣어야 함 -->
                                    </colgroup>
                                    <thead>
                                    <tr>
                                        <th scope="col">
                                            <div class="ipt_check_only">
                                                <input type="checkbox" class="ipt_tbl_allCheck">
                                            </div>
                                        </th>
                                        <th scope="col">No.</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">Phone</th>
                                        <th scope="col">Company</th>
                                        <th scope="col">payment</th>
                                        <th scope="col">상품명</th>
                                        <th scope="col">요청금액</th>
                                        <th scope="col">통화구분</th>
                                        <th scope="col">승인일자</th>
                                        <th scope="col">취소일자</th>
                                        <th scope="col">카드계열</th>
<!--                                        <th scope="col">승인번호</th>-->
<!--                                        <th scope="col">주문번호</th>-->
                                        <th scope="col">거래상태</th>
                                        <th scope="col" style="text-align: center;">거래취소</th>
                                        <th scope="col">회차</th>
                                    </tr>
                                    </thead>
                                    <tbody id="paymentlist">
                                    <!--
                                        <tr>
                                            <td>
                                                <div class="ipt_check_only">
                                                    <input type="checkbox" class="ipt_tbl_allCheck">
                                                </div>
                                            </td>
                                            <td>1</td>
                                            <td><a class="link" href="/user/userDetail">홍길동</a></td>
                                            <td>blissmimi@mindslab.ai</td>
                                            <td>000-0000-0000</td>
                                            <td>마인즈랩컴퍼</td>
                                            <td>99,000</td>
                                            <td>business</td>
                                            <td>99,000</td>
                                            <td>krw</td>
                                            <td>2019-11-12</td>
                                            <td>2019-22-22</td>
                                            <td>현대카드</td>
                                            <td>12345678</td>
                                            <td>mindslab01</td>
                                            <td>승인</td>
                                            <td>
                                                <div class="btnBox">
                                                    <button type="button" id="" class="detail_btn pop_cancle">취소</button>
                                                </div>
                                            </td>
                                            <td scope="col">1회차</td>
                                        </tr>
                                    -->
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!--
                        <div class="tbl_btm_info">
                            <div class="tbl_path">전체 <strong>4</strong> / 10</div>
                            <div class="paging">
                                <a class="btn_paging_first" href="#none">처음 페이지로 이동</a>
                                <a class="btn_paging_prev" href="#none">이전 페이지로 이동</a>
                                <span class="list">
									<strong>1</strong>
									<a href="#none">2</a>
									<a href="#none">3</a>
									<a href="#none">4</a>
									<a href="#none">5</a>
								</span>
                                <a class="btn_paging_next" href="#none">다음 페이지로 이동</a>
                                <a class="btn_paging_last" href="#none">마지막 페이지로 이동</a>
                            </div>
                        </div>
                        -->
                        <div id="pagination"></div>

                        <!--//합계조회 리스트-->
                     <!--
                        <div class="stn_cont">
                            <div class="tbl_box">
                                <table class="tbl_line_lst" summary="maum.ai 회원 정보">
                                    <caption class="hide">테이블 제목</caption>
                                    <colgroup>
                                        <col style="">
                                        <col style="width:16.6%">
                                        <col style="width:16.6%">
                                        <col style="width:16.6%">
                                        <col style="width:16.6%">
                                        <col style="width:16.6%">
                                        <col style="width:16.6%">
                                    </colgroup>
                                    <thead>
                                    <tr>
                                        <th scope="col">
                                            <div class="ipt_check_only">
                                                <input type="checkbox" class="ipt_tbl_allCheck">
                                            </div>
                                        </th>
                                        <th scope="col" th:colspan="2" style="text-align: center;">구분</th>
                                        <th scope="col">건수</th>
                                        <th scope="col">원화</th>
                                        <th scope="col">외화</th>
                                        <th scope="col">총 금액 (KRW)</th>

                                    </tr>
                                    </thead>
                                    <tbody id="paymentSumlist">
                                        <tr>
                                            <td th:rowspan="3">
                                                <div class="ipt_check_only">
                                                    <input type="checkbox" class="ipt_tbl_allCheck">
                                                </div>
                                            </td>
                                            <td th:rowspan="3" style="text-align: center;">2019-11-01</td>
                                            <td>승인</td>
                                            <td>8/0</td>
                                            <td>원화</td>
                                            <td>외화</td>
                                            <td>837,000</td>
                                        </tr>
                                        <tr>

                                            <td>취소</td>
                                            <td>8/0</td>
                                            <td>원화</td>
                                            <td>외화</td>
                                            <td>837,000</td>
                                        </tr>
                                        <tr>
                                            <td>합계</td>
                                            <td>8/0</td>
                                            <td>원화</td>
                                            <td>외화</td>
                                            <td>837,000</td>
                                        </tr>

                                        <tr>
                                            <td th:rowspan="3">
                                                <div class="ipt_check_only">
                                                    <input type="checkbox" class="ipt_tbl_allCheck">
                                                </div>
                                            </td>
                                            <td th:rowspan="3" style="text-align: center;">2019-11-01</td>
                                            <td>승인</td>
                                            <td>8/0</td>
                                            <td>원화</td>
                                            <td>외화</td>
                                            <td>837,000</td>
                                        </tr>
                                        <tr>

                                            <td>취소</td>
                                            <td>8/0</td>
                                            <td>원화</td>
                                            <td>외화</td>
                                            <td>837,000</td>
                                        </tr>
                                        <tr>
                                            <td>합계</td>
                                            <td>8/0</td>
                                            <td>원화</td>
                                            <td>외화</td>
                                            <td>837,000</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    -->


                    </div>
                    <!-- //.section -->
                </form>
            </div>
            <!-- //.content -->
        </div>
        <!-- //#contents -->
    </div>
    <!-- //#container -->
</div>
<!-- //#wrap -->

<!-- lyrWrap -->
<div class="lyrWrap">
    <div class="lyr_bg"></div>
    <!-- 사용자 등록 -->
    <div class="lyrBox lyr_user_add" layout:fragment="lyr_user_add">
        <div class="lyr_top">
            <h3>사용자 등록</h3>
            <button class="btn_lyr_close">닫기</button>
        </div>
        <div class="lyr_mid">
            <dl class="dlBox">
                <dt>아이디</dt>
                <dd>
                    <div class="iptBox">
                        <input type="text" id="add_Email" name="add_Email" maxlength="20" class="ipt_txt"
                               style="width:calc(100% - 82px); padding-right:75px;" placeholder="E-mail형식으로 넣어주세요.">
                        <button type="button" class="btn_srch" th:onclick="'javascript:getUserId();'">중복확인</button>
                    </div>
                </dd>
            </dl>
            <dl class="dlBox">
                <dt>이름</dt>
                <dd>
                    <div class="iptBox">
                        <input type="text" id="add_Name" name="add_Name" class="ipt_txt" maxlength="20"
                               placeholder="사용자 이름">
                    </div>
                </dd>
            </dl>
            <dl class="dlBox">
                <dt>비밀번호</dt>
                <dd>
                    <div class="iptBox" style="margin-bottom:7px;">
                        <input type="password" id="add_password1" class="ipt_txt" maxlength="20" placeholder="비밀번호">
                        <!-- [D] 에러메세지 -->
                        <p class="error_msg" id="pw_check_msg1" style="display:none">패스워드 생성규칙이 올바르지 않습니다. 8~20자 이내,
                            대소문자 숫자 포함</p>
                    </div>
                    <div class="iptBox">
                        <input type="password" id="add_password2" class="ipt_txt" maxlength="20" placeholder="비밀번호 확인">
                        <!-- [D] 에러메세지 -->
                        <p class="error_msg" id="pw_not_match_msg1" style="display:none">패스워드가 일치하지 않습니다.</p>
                    </div>
                </dd>
            </dl>
        </div>
        <div class="lyr_btm">
            <div class="btnBox sz_small">
                <button class="" th:onclick="'javascript:insertUser();'">확인</button>
            </div>
        </div>
    </div>
    <!-- //사용자 등록 -->
    <!-- 사용자 변경 -->
    <div class="lyrBox lyr_user_mody" layout:fragment="lyr_user_mody">
        <div class="lyr_top">
            <h3>사용자 변경</h3>
            <button class="btn_lyr_close">닫기</button>
        </div>
        <div class="lyr_mid">
            <dl class="dlBox">
                <dt>아이디</dt>
                <dd>
                    <div class="iptBox">
                        <input type="text" id="mody_Email" name="mody_Email" class="ipt_txt" value="" disabled>
                    </div>
                </dd>
            </dl>
            <dl class="dlBox">
                <dt>이름</dt>
                <dd>
                    <div class="iptBox">
                        <input type="text" id="mody_Name" name="mody_Name" maxlength="20" class="ipt_txt" value="">
                    </div>
                </dd>
            </dl>
            <dl class="dlBox">
                <dt>비밀번호</dt>
                <dd>
                    <div class="iptBox" style="margin-bottom:7px;">
                        <input type="password" id="mody_password1" class="ipt_txt" maxlength="20" placeholder="비밀번호">
                        <!-- [D] 에러메세지 -->
                        <p class="error_msg" id="pw_check_msg2" style="display:none">패스워드 생성규칙이 올바르지 않습니다. 8~20자 이내,
                            대소문자 숫자 포함</p>
                    </div>
                    <div class="iptBox">
                        <input type="password" id="mody_password2" class="ipt_txt" maxlength="20" placeholder="비밀번호 확인">
                        <!-- [D] 에러메세지 -->
                        <p class="error_msg" id="pw_not_match_msg2" style="display:none">패스워드가 일치하지 않습니다.</p>
                    </div>
                </dd>
            </dl>
            <dl class="dlBox">
                <dt>사용</dt>
                <dd class="checking">
                    <div class="checkBox">
                        <input type="checkbox" id="ipt_check_on" name="ipt_check_on" value="1" class="ipt_check"
                               checked>
                        <label for="ipt_check_on">정상</label>
                    </div>
                    <div class="checkBox">
                        <input type="checkbox" id="ipt_check_off" name="ipt_check_off" value="0" class="ipt_check">
                        <label for="ipt_check_off">잠김</label>
                    </div>
                </dd>
            </dl>
        </div>
        <div class="lyr_btm">
            <div class="btnBox sz_small">
                <button class="" th:onclick="'javascript:updateUserInfo();'">확인</button>
            </div>
        </div>
    </div>
    <!-- //사용자 변경 -->
</div>
<!-- //lyrWrap(사용자 프로필) -->



<!-- page Landing -->
<script type="text/javascript" layout:fragment="custom-winload">
    $(window).load(function () {
        //page loading delete
        $('#pageldg').addClass('pageldg_hide').delay(300).queue(function () {
            $(this).remove();
        });
        setDefault();
        getPayList();

        $('#classifyUserStatus input[type=radio]').on('click', function(){
            var dateRange = $(this).val();
            var curDate = new Date();
            var startDate = new Date();
            switch (dateRange) {
                case "7D":
                    startDate.setDate(curDate.getDate()-7);
                    break;
                case "1M":
                    startDate.setMonth(curDate.getMonth()-1);
                    break;
                case "2M":
                    startDate.setMonth(curDate.getMonth()-2);
                    break;
                case "3M":
                    startDate.setMonth(curDate.getMonth()-3);
                    break;
                default:
                    $('#payDayStart').val("");
                    $('#payDayEnd').val("");
                    return;
            }

            checkin.setValue(startDate);
            checkout.setValue(curDate);
        });

    });


    function setDefault(){
        let tmpDate = new Date();
        tmpDate.setDate(tmpDate.getDate());
        checkin.setValue(tmpDate);
        checkout.setValue(tmpDate);
    }



    var csvData = null;

    function getPayList(currentPageNo) {

        $('input[name="payment"]').val( $('#select_payment option:selected').text() ); // Payment (Card, Cash, Paypal)
        $('input[name="status"]').val( $('#select_status option:selected').val() ); // User Status

        if (currentPageNo === undefined) {
            currentPageNo = "1";
        }
        $("#current_page_no").val(currentPageNo);

        let payCountRange = "";
        if($('#radio_type input[name=payCountRange]:checked').val() === undefined){
            payCountRange = "&payCountRange=0";
        }

        console.log($("#payForm").serialize());

        $.ajax({
            url: "/payment/getPayList",
            data: $("#payForm").serialize() + payCountRange,
            dataType: "JSON",
            cache: false,
            async: true,
            type: "GET",
            success: function (obj) {
                console.log(obj);
                $("#paymentlist").html($("#listTemplate").render(obj));
                $("#pagination").html(obj.data.pagination);
                csvData = obj.data.CSV;

                if(obj.data.CSV.length <= 1) $('#exelDwnBtn').prop('disabled', true);
                else $('#exelDwnBtn').prop('disabled', false);
            },
            error: function (xhr, status, error) {

            }
        });

    }


    function getExcelFile(){
        if(csvData !== null) exportCSVFile(csvData, "결제내역_"+ formatDate());
    }

    function formatDate() {
        let d = new Date(),
            month = '' + (d.getMonth() + 1),
            day = '' + d.getDate(),
            year = d.getFullYear();

        if (month.length < 2)
            month = '0' + month;
        if (day.length < 2)
            day = '0' + day;

        return [year, month, day].join('');
    }

    function convertToCSV(objArray) {
        let array = typeof objArray != 'object' ? JSON.parse(objArray) : objArray;
        let str = '';

        for (let i = 0; i < array.length; i++) {
            let line = '';
            for (let index in array[i]) {
                if (line != '') line += ',';

                line += array[i][index];
            }

            str += line + '\r\n';
        }

        return str;
    }

    function exportCSVFile(items, fileTitle) {

        // Convert Object to JSON
        let jsonObject = JSON.stringify(items);

        let csv = this.convertToCSV(jsonObject);

        let exportedFilenmae = fileTitle + '.csv' || 'export.csv';

        let blob = new Blob(["\ufeff"+csv], { type: 'text/csv;charset=utf-8;' });

        if (navigator.msSaveBlob) { // IE 10+
            navigator.msSaveBlob(blob, exportedFilenmae);
        } else {
            let link = document.createElement("a");
            if (link.download !== undefined) { // feature detection
                // Browsers that support HTML5 download attribute
                let url = URL.createObjectURL(blob);
                link.setAttribute("href", url);
                link.setAttribute("download", exportedFilenmae);
                link.style.visibility = 'hidden';
                document.body.appendChild(link);
                link.click();
                document.body.removeChild(link);
            }
        }
    }


</script>

<script type="text/javascript" th:src="@{/js/bootstrap-datepicker.js}"></script>

<!-- script -->
<script type="text/javascript" layout:fragment="payment-script">
    jQuery.event.add(window, "load", function () {
        $(document).ready(function () {

            // 라디오 toggle
            $('#radio_type .radio input').click(function() {
                var previousValue = $(this).data('storedValue');
                if (previousValue) {
                    $(this).prop('checked', !previousValue);
                    $(this).data('storedValue', !previousValue);
                }
                else{
                    $(this).data('storedValue', true);
                    $("#radio_type input[type=radio]:not(:checked)").data("storedValue", false);
                }
            });


            //-------------------- 결제 취소 ---------------------//
            // $('.pop_cancle').on('click', function(){
            //     console.log("test");
            //     $('#pop_cancle .save').val($(this).val());
            //     $('.pop_simple').fadeIn();
            // });

            $('#pop_cancle .save').on('click', function(){
                console.log("test");
                payCancel();
            });
            //-------------------- //결제 취소 ---------------------//

            // 공통 팝업창 닫기
            $('.ico_close, .pop_bg').on('click', function () {
                closePop();
            });
        });
    });

    function clickCancelBtn(cancelBtn){
        var $cancelBtn = jQuery(cancelBtn);
        let i = 0;
        let acceptPrice="", payment = "";

        // popUp 데이터 채우기
        $cancelBtn.closest('tr').children().each(function(){

            if($(this).hasClass('cancelPopInfo')){

                let tmpText = $(this).text();

                if($(this).hasClass('tblPayment')){
                    payment = tmpText;
                    return true; // continue역할
                }

                $('.detail_box li span').eq(i).text(" "+tmpText);

                if($(this).hasClass('tblPrice')){
                    acceptPrice += " "+tmpText;
                }

                i++;
            }
        });

        $('#pop_acceptPrice').text(acceptPrice);
        $('#cancelTid').val(cancelBtn.value);
        $('#cancelPayment').val(payment);
        $('.pop_simple').fadeIn();
    }

    function decreasePayCount() {

        $.ajax({
            url: "/user/decreasePayCount",
            data: $("#userForm").serialize(),
            dataType: "JSON",
            cache: false,
            async: true,
            type: "GET",
            success: function (response) {
                if (response == 1) {
                    console.log("Success ==> decrease user payCount ");
                } else {
                    console.log("Fail ==> decrease user marketingAgree ");
                    alert("Update fail!");
                }
            },
            error: function (xhr, status, error) {
                console.log("Error : " + error);
            }
        });
    }

    function payCancel(){
        $.ajax({
            type: 'POST',
            url: '/payment/payCancel',
            data: $('#cancelPopForm').serialize(),
            dataType: 'JSON',
            cache: false,
            async: true,
            success: function (obj) {
                console.dir(obj);
                if(obj.state !== "SUCCESS"){
                    alert("결제 취소에 실패하였습니다. 결제 내역이 변경되었는지 확인해 주세요!\n"+ obj.msg);
                }
                decreasePayCount();
                getPayList();
                closePop();
            },
            error: function (xhr, status, error) {
                alert("ERROR :: " + status + "\n" +error);
            }
        });
    }


    // datapicker

    var nowTemp = new Date();
    var now = new Date(nowTemp.getFullYear(), nowTemp.getMonth(), nowTemp.getDate(), 0, 0, 0, 0);

    //payment date
    var checkin = $('#payDayStart').datepicker({
        onRender: function(date) {
            return date.valueOf() < now.valueOf() ? 'abled' : '';
        }
    }).on('changeDate', function(ev) {
        if (ev.date.valueOf() > checkin.date.valueOf()) {
            var newDate = new Date(ev.date);
            newDate.setDate(newDate.getDate() + 1);
            checkin.setValue(newDate);
        }
        checkin.hide();
        $('#payDayEnd')[0].focus();
    }).data('datepicker');

    var checkout = $('#payDayEnd').datepicker({
        onRender: function(date) {
            return date.valueOf() <= checkin.date.valueOf() ? 'abled' : '';
        }
    }).on('changeDate', function(ev) {

        console.log(checkout);
        checkout.hide();
    }).data('datepicker');

    function closePop(){
        $('#pop_cancle').fadeOut(300);
        $('body').css({
            'overflow': '',
        });

        $('#pop_cancle .save').val("");
    }

</script>



<!-- 공통 jsrender listTemplate -->
<script id="listTemplate" type="text/x-jsrender" layout:fragment="custom-listTemplate">

    {{for data.list}}
    <tr>
        <td scope="row">
            <div class="ipt_check_only">
                <input type="checkbox" name="chk" value="{{>userNo}}" class="ipt_tbl_check">
            </div>
        </td>
        <td>{{>num}}</td>
        <td class="cancelPopInfo"><a class="link" onclick="window.location.href='/user/userDetail?email={{>email}}'" >{{>name}}</a></td>
        <td>{{>email}}</td>
        <td>{{>phone}}</td>
        <td>{{>company}}</td>
        <td class="cancelPopInfo tblPayment">{{>payment}}</td>
        <td class="cancelPopInfo">{{>productName}}</td>
        <td class="cancelPopInfo tblPrice">{{>price}}</td>
        <td class="cancelPopInfo tblPrice">{{>currency}}</td>
        <td class="cancelPopInfo">{{>payDate}}</td>
        <td>{{>cancelledDate}}</td>
        <td>{{>cardName}}</td>
<!--        <td>{{>tid}}</td>-->
<!--        <td>{{>paNo}}</td>-->
        <td class="cancelPopInfo">{{>status}}</td>
        <td>
            {{if canCancel==1 }}
                <div class="btnBox">
                    <button type="button" class="detail_btn pop_cancle" onclick="javascript:clickCancelBtn(this);" value="{{>tid}}">취소</button>
                </div>
            {{/if}}
        </td>
        <td>{{>payCount}}</td>
    </tr>
    {{else}}
    <tr>
        <td scope="row" colspan="18" class="data_none">등록된 데이터가 없습니다.</td>
    </tr>
{{/for}}

</script>


<script id="listTemplate2" type="text/x-jsrender" layout:fragment="custom-listTemplate2">

</script>


</body>
</html>
