<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/mainLayout">
<head>
</head>
<body>
<!-- @@@@@@@@@@@@@@@@@@ POP UP @@@@@@@@@@@@@@@@@@ -->
<div layout:fragment="popUserForm">
    <form id="userForm" name="userForm">
        <input type="hidden" name="UserNo" id="UserNo" th:value="${userInfo.UserNo}">
        <input type="hidden" name="Email" id="Email" th:value="${userInfo.Email}">
        <input type="hidden" name="search_status" id="search_status" value="">
        <input type="hidden" name="search_startPaymentDate" id="search_startPaymentDate" value="">
        <input type="hidden" name="search_endPaymentDate" id="search_endPaymentDate" value="">
        <input type="hidden" name="search_payment" id="search_payment" value="">
        <input type="hidden" name="search_nextPaymentDate" value="">
        <input type="hidden" name="search_apiId" value="">
        <input type="hidden" name="search_marketingAgreeYes" value="">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
    </form>
    <form id="payForm" name="payForm">
        <input type="hidden" id="function_name" name="function_name" value="getPayList"/>
        <input type="hidden" id="current_page_no" name="current_page_no" value="1"/>
        <input type="hidden" name="count_per_list" value="10">
        <input type="hidden" name="name" th:value="${userInfo.Name}">
        <input type="hidden" name="email" th:value="${userInfo.Email}">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
    </form>
</div>
<!--</form>-->
<div class="pop_simple" id="pop_cancle" layout:fragment="pop_cancle">
    <div class="pop_bg"></div>
    <!-- .popWrap -->
    <div class="popWrap admin_pop">
        <div class="pop_hd">
            <h2>결제 취소<em class="fas fa-times ico_close"></em></h2>
        </div>

        <!-- .pop_bd -->
        <div class="pop_bd">
            <ul class="detail_box">
                <li><p>구매자  </p> <span></span> </li>
                <li><p>상품명  </p> <span></span> </li>
                <li><p>승인금액</p> <span></span><span></span> </li>
                <li><p>승인일자</p> <span></span> </li>
                <li><p>거래상태</p> <span></span> </li>
            </ul>
            <ul class="change_box">
                <li>
                    <span>요청자 :</span>
                    <p th:text="${userName}"></p>
                </li>
                <li>
                    <span>요청금액 :</span>
                    <p id="pop_acceptPrice"></p>
                </li>

            </ul>
            <form id="cancelPopForm">
                <input type="hidden" id="cancelTid" name="cancelTid" value="">
                <input type="hidden" id="cancelPayment" name="cancelPayment" value="">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
            </form>

        </div>
        <!-- //.pop_bd -->
        <div class="btn">
            <a class="save">결제 취소</a>
        </div>
    </div>
    <!-- //.popWrap -->
</div>
<!-- //.pop_simple -->

<div class="pop_simple" id="pop_status" layout:fragment="pop_status">

    <!-- .popWrap -->
    <div class="pop_bg"></div>
    <div class="popWrap admin_pop">
        <div class="pop_hd">
            <h2>Status 변경<em class="fas fa-times ico_close"></em></h2>
        </div>

        <!-- .pop_bd -->
        <div class="pop_bd">

            <ul class="change_box">
                <li>
                    <span>요청자 :</span>
                    <p>admin01</p>
                </li>
                <li>
                    <span>현재 status :</span>
                    <p>
                        <span th:if="${userInfo.status} == 0">INIT</span>
                        <span th:if="${userInfo.status} == 1">FREE</span>
                        <span th:if="${userInfo.status} == 2">SUBSCRIBED</span>
                        <span th:if="${userInfo.status} == 3">UNSUBSCRIBING</span>
                        <span th:if="${userInfo.status} == 4">UNSUBSCRIBED</span>
                    </p>
                </li>
                <li>
                    <span><strong>변경 status :</strong></span>
                    <div class="select_type">
                        <select id="select_status">
                            <option selected>--</option>
                            <option th:value="0">INIT</option>
                            <option th:value="1">FREE</option>
                            <option th:value="2">SUBSCRIBED</option>
                            <option th:value="3">UNSUBSCRIBING</option>
                            <option th:value="4">UNSUBSCRIBED</option>
                        </select>
                    </div>
                </li>
            </ul>

        </div>
        <!-- //.pop_bd -->
        <div class="btn">
            <a th:href="'javascript:updateUserStatus();'">확인</a>
        </div>
    </div>
    <!-- //.popWrap -->
</div>
<!-- //.pop_simple -->

<!-- 2 .pop_simple -->
<div class="pop_simple" id="pop_period" layout:fragment="pop_period">
    <div class="pop_bg"></div>
    <!-- .popWrap -->
    <div class="popWrap admin_pop">
        <div class="pop_hd">
            <h2>서비스 기간 변경<em class="fas fa-times ico_close"></em></h2>
        </div>

        <!-- .pop_bd -->
        <div class="pop_bd">

            <ul class="change_box">
                <li>
                    <span>요청자 :</span>
                    <p>admin01</p>
                </li>
                <li>
                    <span>현재 기간 :</span>
                    <p>
                        <span th:text="|${userInfo.DateFrom} ~ ${userInfo.DateTo}|"></span>
                    </p>
                </li>
                <li>
                    <span><strong>변경 기간 :</strong></span>
                    <div class="date_box">
                        <input type="text" id="startDate" class="ipt_datd" placeholder="결제(예정)일" autocomplete="off">
                        <span class="hyphen">-</span>
                        <input type="text" id="endDate" class="ipt_datd" placeholder="결제 종료일" autocomplete="off">
                    </div>
                </li>
            </ul>

        </div>
        <!-- //.pop_bd -->
        <div class="btn">
            <a th:href="'javascript:updateUserServicePeriod();'">확인</a>
        </div>
    </div>
    <!-- //.popWrap -->
</div>
<!-- //.pop_simple -->

<!-- 3 .pop_simple -->
<div class="pop_simple" id="pop_nextpay" layout:fragment="pop_nextpay">
    <div class="pop_bg"></div>
    <!-- .popWrap -->
    <div class="popWrap admin_pop">
        <div class="pop_hd">
            <h2>다음 결제 일자 변경<em class="fas fa-times ico_close"></em></h2>
        </div>

        <!-- .pop_bd -->
        <div class="pop_bd">

            <ul class="change_box">
                <li>
                    <span>요청자 :</span>
                    <p>admin01</p>
                </li>
                <li>
                    <span>현재 결재일 :</span>
                    <p>
                        <span th:text="${userInfo.paymentDate}"></span>
                    </p>
                </li>
                <li>
                    <span><strong>변경일 :</strong></span>
                    <div class="date_box">
                        <input type="text" id="nextDate" class="ipt_datd" placeholder="다음 결제일" autocomplete="off">
                    </div>
                </li>
            </ul>

        </div>
        <!-- //.pop_bd -->
        <div class="btn">
            <a th:href="'javascript:updateNextPaymentDate();'">확인</a>
        </div>
    </div>
    <!-- //.popWrap -->
</div>
<!-- //.pop_simple -->

<!-- 4 .pop_simple -->
<div class="pop_simple" id="pop_payment" layout:fragment="pop_payment">
    <div class="pop_bg"></div>
    <!-- .popWrap -->
    <div class="popWrap admin_pop">
        <div class="pop_hd">
            <h2>Payment 변경<em class="fas fa-times ico_close"></em></h2>
        </div>

        <!-- .pop_bd -->
        <div class="pop_bd">

            <ul class="change_box">
                <li>
                    <span>요청자 :</span>
                    <p>admin01</p>
                </li>
                <li>
                    <span>현재 Payment :</span>
                    <p>
                        <span th:text="${userInfo.Payment}"></span>
                    </p>
                </li>
                <li>
                    <span><strong>변경 Payment :</strong></span>
                    <div class="select_type">
                        <select id="select_payment">
                            <option selected>--</option>
                            <option>Card</option>
                            <option>PayPal</option>
                            <option>Cash</option>
                        </select>
                    </div>
                </li>
            </ul>

        </div>
        <!-- //.pop_bd -->
        <div class="btn">
            <a th:href="'javascript:updatePayment();'">확인</a>
        </div>
    </div>
    <!-- //.popWrap -->
</div>
<!-- //.pop_simple -->

<!-- 5 .pop_simple -->
<div class="pop_simple" id="pop_apistatus" layout:fragment="pop_apistatus">
    <div class="pop_bg"></div>
    <!-- .popWrap -->
    <div class="popWrap admin_pop">
        <div class="pop_hd">
            <h2>API Status 변경<em class="fas fa-times ico_close"></em></h2>
        </div>

        <!-- .pop_bd -->
        <div class="pop_bd">

            <ul class="change_box">
                <li>
                    <span>요청자 :</span>
                    <p>admin01</p>
                </li>
                <li>
                    <span>현재 API Status :</span>
                    <p>subcribing</p>
                </li>
                <li>
                    <span><strong>변경 API Status :</strong></span>
                    <div class="select_type">
                        <select id="bbb">
                            <option selected>--</option>
                            <option>Activate</option>
                            <option>Deactivate</option>
                            <option>Unregistered</option>

                        </select>
                    </div>
                </li>
            </ul>

        </div>
        <!-- //.pop_bd -->
        <div class="btn">
            <a class="save">확인</a>
        </div>
    </div>
    <!-- //.popWrap -->
</div>
<!-- //.pop_simple -->

<!-- 6 .pop_simple -->
<div class="pop_simple" id="pop_marketing" layout:fragment="pop_marketing">
    <div class="pop_bg"></div>
    <!-- .popWrap -->
    <div class="popWrap admin_pop">
        <div class="pop_hd">
            <h2>Marketing Agree 변경<em class="fas fa-times ico_close"></em></h2>
        </div>

        <!-- .pop_bd -->
        <div class="pop_bd">

            <ul class="change_box">
                <li>
                    <span>요청자 :</span>
                    <p>admin01</p>
                </li>
                <li>
                    <span>현재 Marketing Agree :</span>
                    <p th:if="${userInfo.MarketingAgree} == 1">Yes</p>
                    <p th:if="${userInfo.MarketingAgree} == 0">No</p>
                </li>
                <li>
                    <span><strong>변경 Marketing Agree:</strong></span>
                    <div class="select_type">
                        <select id="select_marketingAgree">
                            <option selected>--</option>
                            <option>Yes</option>
                            <option>No</option>
                        </select>
                    </div>
                </li>
            </ul>

        </div>
        <!-- //.pop_bd -->
        <div class="btn">
            <a th:href="'javascript:updateMarketingAgree();'">확인</a>
        </div>
    </div>
    <!-- //.popWrap -->
</div>
<!-- //.pop_simple -->
<!-- @@@@@@@@@@@@@@@@@@ POP UP @@@@@@@@@@@@@@@@@@ -->

<!-- #wrap -->
<form id="wrap">
    <!-- #container -->
    <div id="container" layout:fragment="container">
        <!-- #contents -->
        <div id="contents">
            <!-- .content -->
            <div class="content">
                <!-- .section -->
                <div class="stn contBoxType">
                    <h5><em class="fas fa-angle-right"></em> 회원정보</h5>
                    <div class="tbl_top_info">
                        <!-- .search_box -->
                        <div class="search_box">
                            <div class="search_list">
                                <div class="block">
                                    <span class="title">Name</span>
                                    <p class="input_text" th:text="${userInfo.Name}"></p>
                                </div>
                                <div class="block">
                                    <span class="title">Email</span>
                                    <p class="input_text" th:text="${userInfo.Email}"></p>
                                </div>
                                <div class="block">
                                    <span class="title">Phone</span>
                                    <p class="input_text" th:text="${userInfo.Phone}"></p>
                                </div>
                            </div>
                            <div class="search_list">
                                <div class="block">
                                    <span class="title">Company</span>
                                    <p class="input_text" th:text="${userInfo.Company}">마인즈랩</p>
                                </div>
                                <div class="block">
                                    <span class="title">Status</span>
                                    <p class="input_text">
                                        <span th:if="${userInfo.status} == 0">INIT</span>
                                        <span th:if="${userInfo.status} == 1">FREE</span>
                                        <span th:if="${userInfo.status} == 2">SUBSCRIBED</span>
                                        <span th:if="${userInfo.status} == 3">UNSUBSCRIBING</span>
                                        <span th:if="${userInfo.status} == 4">UNSUBSCRIBED</span>
                                        <em class="fas fa-edit pop_status" title="변경"></em>
                                    </p>
                                </div>
                                <div class="block">
                                    <span class="title">서비스 기간</span>
                                    <p class="input_text">
                                        <span th:text="|${userInfo.DateFrom} ~ ${userInfo.DateTo}|"></span>
                                        <em class="fas fa-edit pop_period" title="변경"></em>
                                    </p>
                                </div>
                            </div>
                            <div class="search_list">

                                <div class="block">
                                    <span class="title">Product</span>
                                    <p class="input_text">
                                        <span th:if="${userInfo.Product} == 3">Business (월 99,000원)</span>
                                        <span th:if="${userInfo.Product} == 2">Basic (월 29,000원)</span>
                                    </p>
                                </div>
                                <div class="block">
                                    <span class="title">회차</span>
                                    <p class="input_text" th:text="${userInfo.PayCount}"></p>
                                </div>
                                <div class="block">
                                    <span class="title">Payment</span>
                                    <p class="input_text">
                                        <span th:text="${userInfo.Payment}"></span>
                                        <em class="fas fa-edit pop_payment" title="변경"></em>
                                    </p>
                                </div>
                            </div>
                            <div class="search_list">

                                <div class="block">
                                    <span class="title">다음 결제일</span>
                                    <p class="input_text">
                                        <span th:text="${userInfo.paymentDate}"></span>
                                        <em class="fas fa-edit pop_nextpay" title="변경"></em>
                                    </p>
                                </div>
                                <div class="block">
                                    <span class="title">API Status</span>
                                    <p class="input_text">
                                        <span th:if="${userInfo.apiId} == null">Unregistered</span> <!--apiId가 없을 시, null 값-->
                                        <span th:if="${userInfo.apiId} != null">
                                            <span th:if="${userInfo.Status} == 4">Deactivate</span>
                                            <span th:if="${userInfo.Status} != 4">Activate</span>
                                        </span>
                                        <!--<em class="fas fa-edit pop_apistatus" title="변경"></em>-->
                                    </p>
                                </div>
                                <div class="block">
                                    <span class="title">Usage</span>
                                    <p class="input_text">개발 중</p>
                                </div>
                            </div>
                            <div class="search_list">

                                <div class="block">
                                    <span class="title">Marketing Agree</span>
                                    <p class="input_text">
                                        <span style="float:left;" th:if="${userInfo.MarketingAgree} == 1">Yes</span>
                                        <span style="float:left;" th:if="${userInfo.MarketingAgree} == 0">No</span>
                                        <em class="fas fa-edit pop_marketing" title="변경"></em>
                                    </p>
                                </div>
                                <div class="block">
                                    <span class="title">Register Path</span>
                                    <p class="input_text" th:text="${userInfo.RegisterPath}"></p>
                                </div>
                                <div class="block">
                                    <span class="title">Create date</span>
                                    <p class="input_text" th:text="${userInfo.createDate}"></p>
                                </div>
                            </div>
                            <div class="search_list">

                                <div class="block">
                                    <span class="title">Update date</span>
                                    <p class="input_text" th:text="${userInfo.updateDate}"></p>
                                </div>
                            </div>
                        </div>
                        <!-- //.search_box -->

                    </div>

                    <div class="stn_cont">
                        <div class="tbl_box">
                            <table class="tbl_line_lst" summary="번호/제목/내용/URL/작성일/비고로 구성됨">
                                <caption class="hide">테이블 제목</caption>
                                <colgroup>
                                    <col style="width:30px;">
                                    <col style="width:50px;">
                                    <col style="width:140px;">
                                    <col style="width:250px;">
                                    <col style="width:165px;">
                                    <col style="width:180px;">
                                    <col style="width:90px;">
                                    <col style="width:90px;">
                                    <col style="width:80px;">
                                    <col style="width:80px;">
                                    <col style="width:100px;">
                                    <col style="width:100px;">
                                    <col style="width:80px;">
                                    <!--                                        <col style="width:130px;">-->
                                    <!--                                        <col style="width:120px;">-->
                                    <col style="width:75px;">
                                    <col style="width:80px;">
                                    <col style="width:50px;">
                                    <!--cell 개수 만큼 <col> 개수를 넣어야 함-->
                                </colgroup>
                                <thead>
                                <tr>
                                    <th scope="col">
                                        <div class="ipt_check_only">
                                            <input type="checkbox" class="ipt_tbl_allCheck">
                                        </div>
                                    </th>
                                    <th scope="col">No.</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Phone</th>
                                    <th scope="col">Company</th>
                                    <th scope="col">Payment</th>
                                    <th scope="col">상품명</th>
                                    <th scope="col">요청금액</th>
                                    <th scope="col">통화구분</th>
                                    <th scope="col">승인일자</th>
                                    <th scope="col">취소일자</th>
                                    <th scope="col">카드계열</th>
                                    <!--<th scope="col">승인번호</th>
                                    <th scope="col">주문번호</th>-->
                                    <th scope="col">거래상태</th>
                                    <th scope="col" style="text-align: center;">거래취소</th>
                                    <th scope="col">회차</th>
                                </tr>
                                </thead>
                                <tbody id="paymentlist">
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!--page navigation-->
                    <div id="pagination"></div>
                </div>
                <!-- //.section -->
            </div>
            <!-- //.content -->
        </div>
        <!-- //#contents -->
    </div>
    <!-- //#container -->
</form>
<!-- //#wrap -->

<script type="text/javascript" layout:fragment="custom-winload">
    $(window).load(function() {
        getPayList();
    });

    function getPayList(currentPageNo) {

        console.log(  $('input[name="name"]').val() );
        console.log(  $('input[name="email"]').val() );

        if (currentPageNo === undefined) {
            currentPageNo = "1";
        }
        $("#current_page_no").val(currentPageNo);
        //console.log($("#payForm").serialize());

        $.ajax({

            url: "/payment/getPayList",
            data: $("#payForm").serialize(),
            dataType: "JSON",
            cache: false,
            async: true,
            type: "GET",
            success: function (obj) {
                console.log(obj);
                $("#paymentlist").html($("#listTemplate").render(obj));
                $("#pagination").html(obj.data.pagination);
            },
            error: function (xhr, status, error) {
            }

        });
    };

    function updateUserStatus() {
        let prevStatus = "[[${userInfo.status}]]";
        let $chgStatus = $('#select_status option:selected');

        if(prevStatus === $chgStatus.val()){
            console.log("same status");
            return;
        }

        $('input[name="search_status"]').val($chgStatus.text());

        $.ajax({
            url: "/user/updateUserStatus",
            data: $("#userForm").serialize(),
            dataType: "JSON",
            cache: false,
            async: true,
            type: "GET",
            success: function (response) {
                console.log("response : ", response);
                if(response.responseStatus === "0"){
                    window.location.reload();
                }else{
                    alert(response.message);
                }
            },
            error: function (xhr) {
                console.log("Error : ", xhr);
                alert("Error : " + xhr.responseJSON.message);
            }
        });
    }

    function updateUserServicePeriod() {

        $('input[name="search_startPaymentDate"]').val("");
        $('input[name="search_endPaymentDate"]').val("");

        if ($('#startDate').datepicker().val() != "") {
            $('input[name="search_startPaymentDate"]').val($('#startDate').datepicker().val());
        }
        if ($('#endDate').datepicker().val() != "") {
            $('input[name="search_endPaymentDate"]').val($('#endDate').datepicker().val());
        }

        console.log( $('input[name="search_startPaymentDate"]').val() );
        console.log( $('input[name="search_endPaymentDate"]').val() );

        $.ajax({
            url: "/user/updateUserServicePeriod",
            data: $("#userForm").serialize(),
            dataType: "JSON",
            cache: false,
            async: true,
            type: "GET",
            success: function (response) {
                if (response == 1) {
                    console.log("Success ==> update user service period ");
                    window.location.reload();
                } else {
                    console.log("Fail ==> update user service period ");
                    alert("Update fail!");
                }
            },
            error: function (xhr, status, error) {
                console.log("Error : " + error);
            }
        });
    }

    function updatePayment() {

        $('input[name="search_payment"]').val($('#select_payment option:selected').text());

        if($('#select_payment').val() == 'Cash') {

            $.ajax({
                url: "/user/changePaymentCash",
                data: $("#userForm").serialize(),
                dataType: "JSON",
                cache: false,
                async: true,
                type: "POST",
                success: function (response) {
                    if (response == 1) {
                        console.log("Success ==> update user payment (Cash) ");
                        window.location.reload();
                    } else {
                        console.log("Fail ==> update user payment (Cash) ");
                        alert("Update fail!");
                    }
                },
                error: function(xhr, status, error) {
                    console.log("Error : " + error);
                }
            });

        } else {
            $.ajax({
                url: "/user/updatePayment",
                data: $("#userForm").serialize(),
                dataType: "JSON",
                cache: false,
                async: true,
                type: "GET",
                success: function (response) {
                    if (response == 1) {
                        console.log("Success ==> update user payment ");
                        window.location.reload();
                    } else {
                        console.log("Fail ==> update user payment ");
                        alert("Update fail!");
                    }
                },
                error: function (xhr, status, error) {
                    console.log("Error : " + error);
                }
            });
        }
    }

    function updateNextPaymentDate() {

        $('input[name="search_nextPaymentDate"]').val( $('#nextDate').datepicker().val() );

        console.log(" @ @ @s");
        console.log( $('input[name="search_nextPaymentDate"]').val( $('#nextDate').datepicker().val() ) );

        $.ajax({
            url: "/user/updateNextPayment",
            data: $("#userForm").serialize(),
            dataType: "JSON",
            cache: false,
            async: true,
            type: "GET",
            success: function (response) {
                if (response == 1) {
                    console.log("Success ==> update next payment date");
                    window.location.reload();
                } else {
                    console.log("Fail ==> update next payment date");
                    alert("Update Fail!");
                }
            }

        });

    }

    function updateMarketingAgree() {

        $('input[name="search_marketingAgreeYes"]').val($('#select_marketingAgree option:selected').text());

        $.ajax({
            url: "/user/updateMarketingAgree",
            data: $("#userForm").serialize(),
            dataType: "JSON",
            cache: false,
            async: true,
            type: "GET",
            success: function (response) {
                if (response == 1) {
                    console.log("Success ==> update user marketingAgree ");
                    window.location.reload();
                } else {
                    console.log("Fail ==> update user marketingAgree ");
                    alert("Update fail!");
                }
            },
            error: function (xhr, status, error) {
                console.log("Error : " + error);
            }
        });
    }

    function decreasePayCount() {

        $.ajax({
            url: "/user/decreasePayCount",
            data: $("#userForm").serialize(),
            dataType: "JSON",
            cache: false,
            async: true,
            type: "GET",
            success: function (response) {
                if (response == 1) {
                    console.log("Success ==> decrease user payCount ");
                } else {
                    console.log("Fail ==> decrease user payCount ");
                    alert("Update fail!");
                }
            },
            error: function (xhr, status, error) {
                console.log("Error : " + error);
            }
        });
    }
</script>

<script type="text/javascript" layout:fragment="detail_pop">
    jQuery.event.add(window, "load", function () {
        $(document).ready(function () {

            $('.pop_status').on('click', function () {
                console.log($("#userForm"));
                $('#pop_status').fadeIn();
            });
            $('.pop_period').on('click', function () {
                $('#pop_period').fadeIn();
            });
            $('.pop_nextpay').on('click', function () {
                $('#pop_nextpay').fadeIn();
            });
            $('.pop_payment').on('click', function () {
                $('#pop_payment').fadeIn();
            });
            $('.pop_apistatus').on('click', function () {
                $('#pop_apistatus').fadeIn();
            });
            $('.pop_marketing').on('click', function () {
                $('#pop_marketing').fadeIn();
            });
            // 공통 팝업창 닫기
            $('.ico_close, .pop_bg, .btn a, .btn button').on('click', function () {

                $('#pop_status').fadeOut(300);
                $('#pop_period').fadeOut(300);
                $('#pop_nextpay').fadeOut(300);
                $('#pop_payment').fadeOut(300);
                $('#pop_apistatus').fadeOut(300);
                $('#pop_marketing').fadeOut(300);
                $('body').css({
                    'overflow': '',
                });
            });

            //-------------------- 결제 취소 ---------------------//
            $('#pop_cancle .save').on('click', function(){
                console.log("test");
                payCancel();
            });
            //-------------------- //결제 취소 ---------------------//

            // 공통 팝업창 닫기
            $('.ico_close, .pop_bg').on('click', function () {
                closePop();
            });
        });
    });

    function clickCancelBtn(cancelBtn){
        var $cancelBtn = jQuery(cancelBtn);
        let i = 0;
        let acceptPrice="", payment = "";

        // popUp 데이터 채우기
        $cancelBtn.closest('tr').children().each(function(){

            if($(this).hasClass('cancelPopInfo')){

                let tmpText = $(this).text();

                if($(this).hasClass('tblPayment')){
                    payment = tmpText;
                    return true; // continue역할
                }

                $('.detail_box li span').eq(i).text(" "+tmpText);

                if($(this).hasClass('tblPrice')){
                    acceptPrice += " "+tmpText;
                }

                i++;
            }
        });
        console.log(acceptPrice);
        $('#pop_acceptPrice').text(acceptPrice);
        $('#cancelTid').val(cancelBtn.value);
        $('#cancelPayment').val(payment);
        $('#pop_cancle').fadeIn();
    }

    function payCancel(){
        $.ajax({
            type: 'POST',
            url: '/payment/payCancel',
            data: $('#cancelPopForm').serialize(),
            dataType: 'JSON',
            cache: false,
            async: true,
            success: function (obj) {
                console.dir(obj);
                if(obj.state !== "SUCCESS"){
                    alert("결제 취소에 실패하였습니다. 결제 내역이 변경되었는지 확인해 주세요!\n"+ obj.msg);
                }
                decreasePayCount();
                getPayList();
                closePop();
            },
            error: function (xhr, status, error) {
                alert("ERROR :: " + status + "\n" +error);
            }
        });
    }

    // datapicker
    //payment date
    var nowTemp = new Date();
    var now = new Date(nowTemp.getFullYear(), nowTemp.getMonth(), nowTemp.getDate(), 0, 0, 0, 0);
    var checkin = $('#startDate').datepicker({
        onRender: function (date) {
            return date.valueOf() < now.valueOf() ? 'abled' : '';
        }
    }).on('changeDate', function (ev) {
        if (ev.date.valueOf() > checkin.date.valueOf()) {
            var newDate = new Date(ev.date)
            newDate.setDate(newDate.getDate() + 1);
            checkin.setValue(newDate);
        }
        checkin.hide();
        $('#endDate')[0].focus();
    }).data('datepicker');
    var checkout = $('#endDate').datepicker({
        onRender: function (date) {
            return date.valueOf() <= checkin.date.valueOf() ? 'abled' : '';
        }
    }).on('changeDate', function (ev) {

        console.log(checkout);
        checkout.hide();
    }).data('datepicker');


    //기준일자

    var nextPay = $('#nextDate').datepicker({
        onRender: function (date) {
            return date.valueOf() < now.valueOf() ? 'disabled' : '';
        }
    }).on('changeDate', function (ev) {
        nextPay.hide();
    }).data('datepicker')

    function closePop(){
        $('#pop_cancle').fadeOut(300);
        $('body').css({
            'overflow': '',
        });

        $('#pop_cancle .save').val("");
    }

</script>
<!-- 공통 jsrender listTemplate -->
<script id="listTemplate" type="text/x-jsrender" layout:fragment="custom-listTemplate">

    {{for data.list}}
    <tr>
        <td scope="row">
            <div class="ipt_check_only">
                <input type="checkbox" name="chk" value="{{>userNo}}" class="ipt_tbl_check">
            </div>
        </td>
        <td>{{>num}}</td>
        <td class="cancelPopInfo"><a class="link" onclick="window.location.href='/user/userDetail?email={{>email}}'" >{{>name}}</a></td>
        <td>{{>email}}</td>
        <td>{{>phone}}</td>
        <td>{{>company}}</td>
        <td class="cancelPopInfo tblPayment">{{>payment}}</td>
        <td class="cancelPopInfo">{{>productName}}</td>
        <td class="cancelPopInfo tblPrice">{{>price}}</td>
        <td class="cancelPopInfo tblPrice">{{>currency}}</td>
        <td class="cancelPopInfo">{{>payDate}}</td>
        <td>{{>cancelledDate}}</td>
        <td>{{>cardName}}</td>
        <!--<td>{{>tid}}</td>
        <td>{{>paNo}}</td>-->
        <td class="cancelPopInfo">{{>status}}</td>
        <td>
            {{if canCancel==1 }}
                <div class="btnBox">
                    <button type="button" class="detail_btn pop_cancle" onclick="javascript:clickCancelBtn(this);" value="{{>tid}}">취소</button>
                </div>
            {{/if}}
        </td>
        <td>{{>payCount}}</td>
    </tr>
    {{else}}
    <tr>
        <td scope="row" colspan="18" class="data_none">등록된 데이터가 없습니다.</td>
    </tr>
{{/for}}

</script>

</body>
</html>